		.container
			.search-template
				%form.search-section
					.search-input
						%input.form-control{:placeholder => 'ابحث هنا'}
						%button.search-button
			._404
				.image-404.hidden-xs
					%img{:src => 'images/404.png'}
					
				%h1
					خطأ 404: عفواً هذه الصفحة غير موجودة

				%a.btn.back-home{:href => '#'}
					العودة الي الصفحة الرئيسية
				
