		.container
			.article-single
				/ breadcrumps
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix
				.clearfix

				/ title
				.page-title
					.row
					.col-xs-6
						%h1
							الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
					
					.col-xs-6
						.date-n-tools
							.tools
								%a.glyphicon.glyphicon-heart{:href=>'#'}
								%a.glyphicon.glyphicon-envelope{:href=>'#'}
								%a.glyphicon.glyphicon-print{:href=>'#'}

						.clearfix
					.clearfix

				/ 
				.col-sm-8

					.image-holder
						%img{:src => '//placehold.it/400x300'}

					.main-content
						%p
							يعتبر القرع أو اليقطين من أكثر المحاصيل الزراعية انتشاراً حول العالم. وينتمي إلى الفصيلة القرعية التي تضم البطيخ والخيار والكوسا أيضاً. ولعلّ ما سيثير غرابة البعض أنّ القرع هو أحد أنواع الفاكهة، على الرغم من تواجده في قسم الخضار في الأسواق دائماً. ومنذ آلاف السنين قبل الميلاد وحتى يومنا هذا تمكّن القرع من إدهاش العالم بفوائده الصحيّة العظيمة التي تطول قائمتها يوماً بعد يوم، كما استطاع التسلل إلى العديد من الأصناف الغذائية المحببة لدى مختلف الشعوب.


						%h3
							قيمته الغذائية
						%p
							إنّ هذه الفاكهة المتواضعة التي يشكل الماء 90٪ من وزنها، تحوي نسبة عالية من مضادات الأكسدة كالكاروتينات والبولي فينول فلافيد، بالإضافة للفيتامينات والألياف والمعادن وغيرها من المركبات المهمّة لصحة الإنسان، ممّا جعل أخصائي الأغذية ينصحون بإضافتها إلى الأنظمة الغذائية التي تهدف إلى إنقاص الوزن أوضبط الكوليسترول.
						%p
							والخبر السار أنّه يمكنك الحصول على كل تلك العناصر المغذية مقابل سعرات حرارية معدودة وطعم لذيذ!

						%p
							فعند تناولك 100 جم من القرع تحصلين على 26 كالوري فقط من دون أي دهون مشبعة أو كوليسترول أو صوديوم. مقابل كمية جيدة من فيتامين ه ومجموعة فيتامين ب  / الثيامين(فيتامين ب1) والنياسين( ب3) والرايبوفلافين( ب2) ،حمض البانتوثونيك (ب5) وحمض الفوليك( ب9) / والحديد  والفوسفور والمنغنيز والزنك، بالإضافة لنسبة عالية من الألياف وفيتامين أ وفيتامين ج  والبوتاسيوم والمغنيزيوم والكالسيوم  ومركبات البولي فينول فلافونويد.

						%p
							يحتاج الإنسان من أجل أن يستطيع جهازه الهضمي أن يقوم بهضم الطعام بشكل سليم وامتصاص العناصر الغذائية المفيدة منه 20- إلى 35 جم من الألياف يومياً. وهي كمية لا يحصل عليها معظمنا من خلال نظامنا الغذائي المفتقر لهذه الألياف المهمة. الأمر الذي يؤدي إلى الإمساك وغيرها من المشاكل الصحية كالبواسير. لذا 

						%p
							" فنبذناه بالعراء وهو سقيم وأنبتنا عليه شجرة من يقطين" سورة الصافات إنّ العناصر الغذائية القيّمة الموجودة في القرع تفسّر الفوائد الصحيّة العظيمة التي تعود على الإنسان .

						%h3
							مناعة قوية

						%p
							إنّ القرع غني بمعدن الحديد الذي يعمل على زيادة مناعة الجسم وقدرته على مقاومة الأمراض. فالكوب الواحد من هريس القرع يزوّد الجسم بنسبة عالية من الحديد(3٫4 ملغم) وهي كمية تمثل 43٪ من حاجة الرجل اليومية من الحديد وتشكل 19٪ من حاجة المرأة اليومية منه .

						%p
							كما أنّه غني بفيتامين أ الذي يقوم بتقوية مناعة الجسم بالإضافة إلى المحافظة على صحة العيون والأسنان والعظام، فالكوب الواحد من هريس القرع يزوّد الجسم ب 1،906 ميكروغرام من فيتامين أ في حين أنّ الحاجة اليومية منه من 700 إلى 900 ميكروغرام.

					.tags
						.tags-content
							%a.label.label-orange
								مشروبات

					%form.answer-form
						.form-group
							.row
								.col-sm-2.hidden-xs
									.avatar
										%img{:src=>'images/avatar.png'}
								.col-sm-10.textarea-division
									%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليقك هنا'}

								.col-xs-12.submit-division
									%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
										
									.clearfix

								.clearfix
					.answers
						- (1..2).each do |e|
							%article.answer
								.row
									.col-sm-2.avatar-holder.hidden-xs
										.avatar
											%img{:src => 'images/avatar.png'}

									.col-sm-10
										.details
											%cite.pull-right
												سيد محسن
											.date.pull-left
												منذ 10 ساعات
											.clearfix

										.content.answer-content
											%p
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
											%a.more{:href => '#'}
												المزيد
										.else
											%button.pull-right.btn.add-comment اضف تعليق
											.pull-left.votes
												%a.thumb-up{:href => '#'}
													210
												%a.thumb-down{:href => '#'}
													11
											.clearfix

										%form.answer-form
											.form-group
												.row
													.col-sm-2.hidden-xs
														.avatar
															%img{:src=>'images/avatar.png'}
													.col-sm-10.textarea-division
														%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليق هنا'}

													.col-xs-12.submit-division
														%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
															
														.clearfix

													.clearfix
								
										.comments
											- (1..2).each do |e|
												.comment
													.row
														.col-sm-2.avatar-holder.hidden-xs
															.avatar
																%img{:src => 'images/avatar.png'}

														.col-xs-2.visible-xs

														.col-xs-10
															.details
																%cite.pull-right
																	سيد محسن
																.date.pull-left
																	منذ 10 ساعات
																.clearfix

															.content
																%p
																	اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم

														.clearfix

									.clearfix

				%aside.col-xs-4.hidden-xs
				
					.rate.main
						.big-star
							4
						%a.star.active{:href => '#'}
						%a.star.active{:href => '#'}
						%a.star{:href => '#'}
						%a.star{:href => '#'}
						%a.star{:href => '#'}

					.component
						.col-xs-12
							.chef
								.row
									.col-xs-3.no-padding-left
										.avatar
											%img{:src=>'images/assets/sda.jpg'}
									.col-xs-9
										.author
											%i.fa.fa-user.icon
											%span.name
												الشيف الشربيني
										
										.date
											%i.fa.fa-clock-o.icon
											أكتوبر 27, 2014 - 1:50 م

									.clear
						.clearfix

					.social-buttons
						.row
							.col-xs-6
								%a.facebook-btn{:href=>'#'}
									شارك
							.col-xs-6
								%a.twitter-btn{:href=>'#'}
									غرد
							.clearfix

					.related-posts
						%h3
							مقالات مشابهة
							
						.slides
							- (1..2).each do |e|
								.slide.row
									.col-md-4.no-padding-left
										.img
											%img{:src=>'images/assets/thumb.jpg'}

									.col-md-8
										%h4
											الكانيلّوني على الطريقة الإيطالية
										%div.hidden-xs.hidden-sm
											%span.glyphicon.glyphicon-user
											%span بنَفس : ام جمال ابراهيم
										%div.hidden-xs.hidden-sm
											%span.glyphicon.glyphicon-time
											%span منذ ١٥ دقيقة
										.rate.hidden-xs.hidden-sm
											.star.active
											.star.active
											.star.active
											.star
											.star
									.clearfix

						.navigation
							%a.glyphicon.glyphicon-chevron-right.previous-btn{:href=>'#'}
							.navigation-item
							%a.glyphicon.glyphicon-chevron-left.next-btn{:href=>'#'}
				.clearfix