		.container.single-ask
			.col.xs-12
				.breadcrumps
					%ul
						%li.home
							%a{:href=>'#'}
								%span.glyphicon.glyphicon-home
						%li
							%a{:href=>'#'}
								مكان
						%li
							%a{:href=>'#'}
								مكان
						%li
							مكان
					.clearfix

			.col-md-8
				%article.main
					.header.row
						.col-sm-2.hidden-xs
							.avatar
								%img{:src=>'images/avatar.png'}

						.col-sm-10.card
							%h1 ممكن طريقة عمل الكرواسون؟
							%ul.share
								%li
									%a.email{:href => '#'}
								%li
									%a.twitter{:href => '#'}
								%li
									%a.fb{:href => '#'}
							.details
								%cite
									محمد جمال
								.date
									من 15 دقيقة
						.clearfix
					.description
						%p
							اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم

				

				.answers.shamlola-answer
					%article.answer
						.row
							.col-sm-2.avatar-holder.hidden-xs
								.avatar.shamlola
									%img{:src => 'images/shamlola.png'}

							.col-sm-10
								.details
									%cite.pull-right
										شملولة
									.date.pull-left
										منذ 10 ساعات
									.clearfix

								.content
									%p
										اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم
							.clearfix

				%form.answer-form
					.form-group
						.row
							.col-sm-2.hidden-xs
								.avatar
									%img{:src=>'images/avatar.png'}
							.col-sm-10.textarea-division
								%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة اجابتك هنا'}

							.col-xs-12.submit-division
								%input.btn.pull-left{:type => 'submit', :value => 'اضف اجابة'}
									
								.clearfix

							.clearfix
				.answers
					- (1..2).each do |e|
						%article.answer
							.row
								.col-sm-2.avatar-holder.hidden-xs
									.avatar
										%img{:src => 'images/avatar.png'}

								.col-sm-10
									.details
										%cite.pull-right
											سيد محسن
										.date.pull-left
											منذ 10 ساعات
										.clearfix

									.content.answer-content
										%p
											اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
											اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
											اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
										%a.more{:href => '#'}
											المزيد
									.else
										%button.pull-right.btn.add-comment اضف تعليق
										.pull-left.votes
											%a.thumb-up{:href => '#'}
												210
											%a.thumb-down{:href => '#'}
												11
										.clearfix

									%form.answer-form
										.form-group
											.row
												.col-sm-2.hidden-xs
													.avatar
														%img{:src=>'images/avatar.png'}
												.col-sm-10.textarea-division
													%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليق هنا'}

												.col-xs-12.submit-division
													%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
														
													.clearfix

												.clearfix
							
									.comments
										- (1..2).each do |e|
											.comment
												.row
													.col-sm-2.avatar-holder.hidden-xs
														.avatar
															%img{:src => 'images/avatar.png'}

													.col-xs-2.visible-xs

													.col-xs-10
														.details
															%cite.pull-right
																سيد محسن
															.date.pull-left
																منذ 10 ساعات
															.clearfix

														.content
															%p
																اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم

													.clearfix

								.clearfix


			%aside.col-md-4.hidden-xs.hidden-sm
				.ad
					%img{:src => 'images/assets/ad1.png'}
			.clearfix

