		.container.single-book
			.col.xs-12
				.breadcrumps
					%ul
						%li.home
							%a{:href=>'#'}
								%span.glyphicon.glyphicon-home
						%li
							%a{:href=>'#'}
								مكان
						%li
							%a{:href=>'#'}
								مكان
						%li
							مكان
					.clearfix


			.article-section
				.row
					%article.col-md-8.main
						.row
							.col-xs-4
								.images.hidden-xs
									.cover-in-view
										%img{:src => 'images/assets/book-big.jpg'}
										%a.expand-button{:href => 'images/assets/book-big.jpg'}

									.covers-slider
										.nav
											%a.next{:href => '#'}
											%a.prev{:href => '#'}

										.mask
											.slides
												-(1..4).each do |e|
													.image-holder
														%a.bordered{:href => '//placehold.it/300x300'}
															%img{:src => 'images/assets/book.jpg'}
												.clearfix

									
							.col-xs-8
								%h1
									كتاب طباخ حواء
								.details
									.row
										.col-xs-6
											.author
												شكري او عميرة

										.col-xs-6
											.rate.main
												.big-star
													3
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star{:href => '#'}
												%a.star{:href => '#'}
										.clearfix
								.content
									%p
										من اليوم لا داعي لشراء الحلويات المفضلة لأسرتك ، الآن يمكنك تقديمها في المنزل من صنع يديكي ، سوف نقدم حلو الجناش الرائعة بطعم غني بالشيكولاة والكريمة المصنوعة من حليب نستله المكثف المحلى الذي يمنحه قوام مثالي وطعم جميل ، إليكم الطريقة بالخطوات ، تعالوا قدموها وإستمتعوا بالمذاق المميز والجميل 

									%p
										%b
											من اليوم لا داعي لشراء الحلويات المفضلة لأسرتك ، الآن يمكنك تقديمها في المنزل من صنع يديكي .

								.buttons
									.fb-twitter
										%a.fb{:href => '#'}
										%a.twitter{:href => '#'}
										.clearfix

									%a.download{:href => '#'}

							.clearfix


					%aside.col-xs-4
						%img{:src => 'images/assets/ad1.png'}

						.suggested-books
							%h3
								شملولة ترشحلك
								
							.slides
								- (1..2).each do |e|
									.slide.row
										.col-md-4.no-padding-left
											%a{:href => '#'}
												.img
													%img{:src=>'images/assets/thumb.jpg'}
											%a.download{:href => '#'}
												تحميل


										.col-md-8
											%a{:href => '#'} 
												%h4
													الكانيلّوني على الطريقة الإيطالية
											.detail.hidden-xs.hidden-sm
												%i.fa.fa-file-o.icon
												%span 150 صفحة
											.detail.hidden-xs.hidden-sm
												%i.fa.fa-download.icon
												%span 10 تحميلات
										.clearfix

							.navigation
								%a.glyphicon.glyphicon-chevron-right.previous-btn{:href=>'#'}
								.navigation-item
								%a.glyphicon.glyphicon-chevron-left.next-btn{:href=>'#'}

					.clearfix

			.others
				%h2 كتب اخري

				%section.others-section
					.others-section-slider
						.slides.articles
							- (1..12).each do |e|
								.item
									%article
										.article-1st
											%a.thumnail{:href=>'#', 'data-image' => 'images/assets/book.jpg'}
												.rate 
													.star.active
													.star.active
													.star.active
													.star.active
													.star.active
											.col-xs-12
												%a{:href => '#'}
													%h3
														تعلم الطبخ في ٢٤ يوم
												
												.number-of-pages
													300
												.downloads
													20
											.clearfix

											.btn.btn-block.download
												%span.glyphicon.glyphicon-download-alt
												تحميل
						%nav
							%a.glyphicon.glyphicon-chevron-right.previous{:href=>'#'}
							
							.nav-pagination

							%a.glyphicon.glyphicon-chevron-left.next{:href=>'#'}


						.clearfix