		.container

			.articles-template
				.col-xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix
				.articles.col-md-8
					.title-section
						%h2 
							مواضيع

						.list
							.dropdown
								%a{'data-toggle' => 'dropdown', :href => '#'}
									اخر الوصفات

								%ul.dropdown-menu
									%li
										%a{:href => '#'}
											LoremIpsum
									%li
										%a{:href => '#'}
											LoremIpsum
									%li
										%a{:href => '#'}
											LoremIpsum
									%li
										%a{:href => '#'}
											LoremIpsum
									%li
										%a{:href => '#'}
											LoremIpsum


						.clearfix
					.content
						.articles
							.row
								- (1..12).each do |e|
									%article.col-md-4.col-sm-6.col-xs-12
										.article-3nd
											%a.tag{:href => '#'}
												مشروبات

											.image 
												%a{:href => '#'}
													%img{:src=>'images/assets/taba2.jpg'}
											.text
												%a{:href=>'#'}
													%h3
														الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
												%div.inner-text
													.row
														.col-xs-6.no-padding-left
															%span.glyphicon.glyphicon-time
															%span منذ عشر دقائق
														.col-xs-6.no-padding-right.text-left
															.rate
																.star.active
																.star.active
																.star
																.star
																.star
														.clearfix

								.clearfix

							.col-xs-12
								%a.read-more{:href=>''}
									%span المزيد
							.clearfix
				%aside.col-md-4
					.ad
						%img{:src => 'images/assets/ad1.png'}

					.sidebar-component.community
						.title-section
							%h2 
								المجتمع

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.avatar-holder
										%a{:href => '#'}
											.avatar
												%img{:src=> 'images/avatar.png' }

									.col-xs-9 
										%a{:href => '#'}
											.body
												ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
										.div.card
											%cite
												%a{:href => '#'}
													محمد جمال الدين
											.date
												منذ 15 دقيقة
											.clearfix

									.clearfix

									.col-xs-12.details
										.row
											.col-xs-4
												%a.like{:href => '#'}
													10 اعجاب
											.col-xs-4
												%a.comment{:href => '#'}
													30 تعليق
											.col-xs-4
												%a.share{:href => '#'}
													10 مشاركات
											.clearfix
					.sidebar-component.ask-shamlola
						.title-section
							%h2 
								اسألي شملولة

							.clearfix

						-(1..2).each do |e|
							%article.row
								%a.col-xs-12.body{:href => '#'}
									ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

								.col-xs-12.details
									.row
										.col-xs-6
											.date
												منذ 10 دقائق
										.col-xs-6
											.reply.no
												لم يتم الاجابة

										.clearfix
								.clearfix

							%article.row
								%a.col-xs-12.body{:href => '#'}
									ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

								.col-xs-12.details
									.row
										.col-xs-6
											.date
												منذ 10 دقائق
										.col-xs-6
											.answer
												20 اجابة 

										.clearfix
								.clearfix

						.ask-form
							.form-group{:style => 'margin-top:30px'}
								.btn.btn-lg.btn-success.btn-block.ask-button
									اضافة سؤال
								
							.form-group
								.alert.alert-danger.hidden
									%ul
										%li lorem ipsum
										%li lorem ipsum
										%li lorem ipsum


								%form.hidden
									/ 
										add .has-error to .form-group to show red border as alert w keda

									.form-group
										%input.form-control{:placeholder => 'عنوان السؤال', :name => 'title'}

									.form-group
										%textarea.form-control{:rows => '4', :name => 'description'}
									.form-group
										.btn.btn-md.submit.pull-left{:disabled => 'disabled'}
											اضافة

										.clearfix
						.clearfix
					.sidebar-component.chefs
						.title-section
							%h2 
								الطهاة

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.avatar-holder
										%a{:href => '#'}
											.avatar
												%img{:src=> 'images/avatar.png' }

									.col-xs-9
										%a{:href => '#'}
											.title
												الشيف الشربيني
										.rate
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
										.books
											11 وصفة

									.clearfix
					.sidebar-component.books
						.title-section
							%h2 
								الكتب

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.image-holder.no-padding-left
										%a{:href => '#'}
											%img{:src=> 'images/assets/book.jpg' }

									.col-xs-9
										%a{:href => '#'}
											.title
												تعلم الطبخ في 24 ساعة
										.rate
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
										%cite
											الشيف الربيني

									.clearfix


					.clearfix
				.clearfix


