		.container
			.community-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.wrap
					.col-md-8
						.posts
							%h1 المجتمع
							%form.publish-form
								.form-group
									%input.form-control{:placeholder => 'هنان مناقشتك هنا'}
								.form-group
									%textarea.form-control{:placeholder => 'التفاصيل', :rows => 4}

								.form-group
									.row
										.col-xs-2.no-padding-left
											%label.image اضافة صورة

										.col-xs-10
											%input.form-control
											%a.upload{:href => '#'}
										.clearfix

								.form-group
									.row
										.col-xs-2.no-padding-left
											%label.list اختار القسم
										.col-xs-10
											%select.form-control
												%option
													__
												%option
													__
												%option
													__
												%option
													__
										.clearfix
								
								.form-group
									.btn.btn-lg.pull-left.submit
										اضف منشور

									.clearfix

							.title-section
								%h2 
									المنشورات

								.list
									.dropdown
										%a{'data-toggle' => 'dropdown', :href => '#'}
											اخر الوصفات

										%ul.dropdown-menu
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum

								.clearfix

							.targets
								.target#monakashat.community-articles.active
									-(1..4).each do |e|
										%article
											.data
												.col-xs-2
													.avatar
														%img{:src => 'images/avatar.png'}
													.rate
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}

												.col-xs-10.no-padding-right
													.text
														%a{:href => '#'}
															%h2
																الكنافة بالمانجا أجدد وأحلى وصفات الحلويات الشرقية
														
														.details
															%cite
																بوسينا
															.date
																منذ 10 ساعات
															.clearfix
												.clearfix
											
											.actions
												%a.section{:href => '#'}
													حلويات
												%a.comments{:href => '#'}
													250
												%a.share{:href => '#'}
													250
												%a.more{:href => '#'}
													اقرأ المناقشة

												.clearfix



					%aside.col-md-4
						.ad
							%img{:src => 'images/assets/ad1.png'}

						.sidebar-component.most-active-posts
							.title-section
								%h2 
									المنشورات الأكثر تفاعلاً

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix
										.clearfix
					.clearfix
				.clearfix