		/ footer
		%footer
			.container.content
				.row
					.col-xs-12.col-md-9
						.col-xs-4.col-md-2
							%h4	أقسام شملولة
							%ul
								%li	
									%a{:href=>'#'} المجتع 
								%li	
									%a{:href=>'#'} الفيديو
								%li	
									%a{:href=>'#'} الكتب 
								%li	
									%a{:href=>'#'} دليل القنوات 
								%li	
									%a{:href=>'#'} الطهاه
								%li	
									%a{:href=>'#'} أسئلة شملولة
								%li	
									%a{:href=>'#'} كل الوصفات
						.col-xs-4.col-md-2
							%h4	أقسام الوصفات
							%ul
								%li	
									%a{:href=>'#'} وصفات
								%li	
									%a{:href=>'#'} أطباق رئيسية
								%li	
									%a{:href=>'#'} أطباق جانبية
								%li	
									%a{:href=>'#'} مقبلات وسلطات
								%li	
									%a{:href=>'#'} شوربات
								%li	
									%a{:href=>'#'} مخللات
								%li	
									%a{:href=>'#'} صلصات
						.col-xs-4.col-md-2
							%h4 &nbsp;
							%ul.group
								%li 
									%a{:href=>'#'}حلويات
								%li 
									%a{:href=>'#'}حلويات شرقية
								%li 
									%a{:href=>'#'}حلويات غربية
								
							%ul.group
								%li 
									%a{:href=>'#'}صحة وعافية
								%li 
									%a{:href=>'#'}أكلات رجيم
								%li 
									%a{:href=>'#'}أكلات صحية
								%li 
									%a{:href=>'#'}أكلات نباتية
						.col-xs-4.col-md-2
							%h4 &nbsp;
							%ul.group
								%li 
									%a{:href=>'#'}مشروبات ومرطبات
								%li 
									%a{:href=>'#'}مشروبات باردة
								%li 
									%a{:href=>'#'}مشروبات ساخنة
							
							%ul.group
								%li 
									%a{:href=>'#'}وجبات أطفال
								%li 
									%a{:href=>'#'}وجبات خفيفة
								%li 
									%a{:href=>'#'}ساندويتشات
						.col-xs-4.col-md-2
							%h4 &nbsp;
							%ul.group
								%li 
									%a{:href=>'#'}أكلات البلاد
								%li 
									%a{:href=>'#'}أكلات مغربية
								%li 
									%a{:href=>'#'}أكلات شامية
								%li 
									%a{:href=>'#'}أكلات أوروبية
								%li 
									%a{:href=>'#'}أكلات خليجية
								%li 
									%a{:href=>'#'}أكلات آسيوية
								%li 
									%a{:href=>'#'}أكلات مصرية
						.col-xs-4.col-md-2
							%h4 &nbsp;
							%ul.group
								%li 
									%a{:href=>'#'}فطائر ومعجنات
								%li 
									%a{:href=>'#'}مخبوزات
								%li 
									%a{:href=>'#'}بيتزا
								%li 
									%a{:href=>'#'}فطائر مالحة
							%ul.group
								%li 
									%a{:href=>'#'}للمتزوجين فقط
					
					.col-md-3.hidden-xs.hidden-sm
						.social
							%input
							.row
								%div
									%a{:href=>'#'}
										%span.socicon b
								%div
									%a{:href=>'#'}
										%span.socicon a
								%div
									%a{:href=>'#'}
										%span.socicon r
								%div
									%a{:href=>'#'}
										%span.socicon ,
								%div
									%a{:href=>'#'}
										%span.socicon c
								.clearfix

					.clearfix
			.bar
				.container
					.col-xs-12
						%span.pull-left
							حقوق النشر محفوظة لـ شملولة  ©2014
						%ul.hidden-xs.hidden.sm
							%li
								%a{:href=>'#'} من نحن
							%li
								%a{:href=>'#'} اتصل بنا
							%li
								%a{:href=>'#'} حقوق النشر
							%li
								%a{:href=>'#'} شروط الخدمة
							%li
								%a{:href=>'#'} نشرات اعلاميه

		%modals
			.modal.fade#login-modal
				.modal-dialog
						
					%form.modal-content
						.modal-header
							%button.close{'data-dismiss'=>'modal'}
								%span{'aria-hidden'=>'true'}
									&times;
									%span.sr-only اغلاق
							%h4
								تسجيل مستخدم
						.modal-body
							%p.hint.text-center
								قم بالتسجيل عن طريق الايميل
								%b او
								مواقع التواصل الاجتماعي

							.text-center
								.social-login
									%a.btn.facebook{:href => '#'} فيسبوك
									%a.btn.twitter{:href => '#'} تويتر
									%a.btn.google{:href => '#'} جوجل

							.form-group
								%input.form-control{:placeholder => 'البريد الالكتروني / اسم المستخدم'}
							.form-group
								%input.form-control{:type => 'password', :placeholder => 'كلمة المرور'}
							.form-group.footer
								%button.btn.btn-default.submit-button
									تسجيل دخول

								%a.lost-password{:href => '#'}
									هل نسيت كلمت المرور؟
								%b او
								%a.register{:href => '#'}
									تسجيل مستخدم جديد

		%script#stars-template{:type => 'text/template'}
			:plain
				<% for(var i=0; i<stars; i++) { %>
				<a class='star active' href='#'></a>
				<% } %>
				<% for(var i=0; i<5-stars; i++) { %>
				<a class='star' href='#'></a>
				<% } %>

		%script{:src => '//localhost:9000/livereload.js'}