!!!
%html{:dir=> 'rtl', :lang=>'ar'}
	%head
		%title Shamlola Static
		%meta{:charset=>'utf-8'}
		%meta{:name=>'viewport', :content=>'width=device-width, initial-scale=1'}

		
		
		%link{:href => 'vendor/bootstrap/css/bootstrap.min.css', :rel => 'stylesheet', :type =>'text/css'}
		%link{:href => '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css', :rel => 'stylesheet', :type =>'text/css'}

		%link{:href => 'vendor/magnific-popup/magnific-popup.css', :rel => 'stylesheet', :type => 'text/css'}

		/ rtl
		%link{:href => 'vendor/bootstrap/css/bootstrap-rtl.min.css', :rel => 'stylesheet', :type =>'text/css'}
		%link{:href => 'vendor/mCustomScrollbar/jquery.mCustomScrollbar.min.css', :rel => 'stylesheet', :type =>'text/css'}
		%link{:href => 'vendor/socicon/socicon.css', :rel => 'stylesheet', :type =>'text/css'}

		/ main style
		%link{:href => 'build/css/main.css', :rel => 'stylesheet', :type =>'text/css'} 


		/ vendor
		%script{:src => '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js'}
		%script{:src => 'vendor/modernizr.js'}
		%script{:src => 'vendor/jquery/jquery-1.11.1.min.js'}
		%script{:src => 'vendor/jquery/jquery.mobile.custom.min.js'} 

		%script{:src => 'vendor/bootstrap/js/bootstrap.min.js'}
		%script{:src => 'vendor/fooslider/foo.js'}
		%script{:src => 'vendor/mCustomScrollbar/jquery.mCustomScrollbar.min.js'}
		
		%script{:src => 'vendor/magnific-popup/jquery.magnific-popup.js'}
		%script{:src => '//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment-with-locales.min.js'}
		

		/ main style
		%script{:src => 'build/js/main.js'}
		%script{:src => 'build/js/main-slider.js'}
		%script{:src => 'build/js/recipe.js'}
		%script{:src => 'build/js/questions.js'}
		%script{:src => 'build/js/article.js'}
		%script{:src => 'build/js/book.js'}
		%script{:src => 'build/js/ask.js'}
		%script{:src => 'build/js/index.js'}
		%script{:src => 'build/js/thread.js'}
		%script{:src => 'build/js/settings.js'}
		%script{:src => 'build/js/recipes.js'}
		%script{:src => 'build/js/videos.js'}
		%script{:src => 'build/js/search.js'}
		%script{:src => 'build/js/chef.js'}
	%body
		.fb-root
		%script
			:plain
				(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/ar_AR/sdk.js#xfbml=1&appId=1573523382859829&version=v2.0";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));
		%header
			.first-level
				.container
					.col-xs-12
						%a.pull-right.logo{:href => '/'}
							%img{:src => 'images/logo.png'}
						%nav.pull-right.main
							%ul
								%li.h-recipes.active{'data-header-toggle' => '#recipes-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-cooking23
										%span الوصفات

								%li.h-videos{'data-header-toggle' => '#videos-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-youtube12
										%span فيديوهات
								%li.h-books{'data-header-toggle' => '#books-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-book126
										%span كتب
								%li.h-chefs{'data-header-toggle' => '#chefs-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-chef6
										%span طهاه
								%li.h-community{'data-header-toggle' => '#community-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-chat35
										%span المجتمع
								%li.h-articles{'data-header-toggle' => '#articles-bar'}
									%a{:href => '#'}
										%i.icon.flaticon-pencil113
										%span المقالات
							.clear
						
						%ul.utilities.pull-left
							%li.h-search{'data-header-toggle' => '#search-bar'}
								%a{:href => '#'}
									%i.fa.fa-search
							%li.social{'data-header-toggle' => '#social-bar'}
								%a{:href => '#'}
									%i.fa.fa-twitter
								%a{:href => '#'}
									%i.fa.fa-youtube-play
								%a{:href => '#'}
									%i.fa.fa-facebook
								.clearfix
							%li
								%a{:href => '#'}
									%i.fa.fa-user
						.clearfix
					.clearfix
			.second-level
				.container
					.col-xs-12
						%a.collapse-second-level{:href => '#'}
						#recipes-bar.sub
							%ul.list
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										كل الوصفات
								%li{'data-megamenu' => '#megamenu-yalahwiii'}
									%a{:href => '#'}
										حلويات
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										مشروبات ومرطبات
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										صحة وعافية
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										وجبات اطفال
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										فطائر ومعجنات
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										اكلات البلد
								%li{'data-megamenu' => '#megamenu-recipes'}
									%a{:href => '#'}
										للمتزوجين فقط
							.clearfix
						#videos-bar.sub
							%ul.list
								%li
									%a{:href => '#'}
										كل الفيديوهات
								%li
									%a{:href => '#'}
										لوريم
								%li
									%a{:href => '#'}
										ابيسوم
								%li
									%a{:href => '#'}
										نص
								%li
									%a{:href => '#'}
										عشوائي

							.clearfix
						#community-bar.sub
							%ul.list
								%li
									%a{:href => '#'}
										مجتمع مبهج
								%li
									%a{:href => '#'}
										مجتمع عبيط
								%li
									%a{:href => '#'}
										مجتمع مش لاقي ياكل
								%li
									%a{:href => '#'}
										هيلا هوبا
							.clearfix
						#articles-bar.sub
							%ul.list
								%li
									%a{:href => '#'}
										كل المقالات
								%li
									%a{:href => '#'}
										مقالات اليلت الادب
								%li
									%a{:href => '#'}
										مقالات سخنة 
								%li
									%a{:href => '#'}
										مقالات علمية
								%li
									%a{:href => '#'}
										مقالت عايزة تنام
							.clearfix
					
						#search-bar.sub
							.text
								%form.search
									%input.form-control{:placeholder=>'بحث..'}
									%input.btn{:type => 'submit', :value=>'بحث'}
						#social-bar.sub
							%ul.social-buttons
								%li.mail
									%a.fa.fa-envelope-o{:href => '#'}
								%li.rss
									%a.fa.fa-rss{:href => '#'}
								%li.fb
									%div.fb-like{'data-href' => 'https://developers.facebook.com/docs/plugins/', 'data-layout' => 'button_count', 'data-action' => 'like', 'data-show-faces' => 'true', 'data-share' => 'false'}
								%li.twitter
									%a.twitter-follow-button{:href => 'https://twitter.com/twitterdev', 'data-show-count' => 'true', 'data-lang' => 'ar'}
										Follow @twitterdev
									%script
										:plain
											window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
								%li.google
									.g-plusone
									%script
										:plain
											window.___gcfg = {lang: 'ar'};

											(function() {
											var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
											po.src = 'https://apis.google.com/js/platform.js';
											var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
											})();
								%li.youtube
									%script{:src => 'https://apis.google.com/js/platform.js'}
									.g-ytsubscribe{'data-channel' => 'GoogleDevelopers', 'data-layout' => 'default'}

							.clearfix
					.clearfix
			.third-level
				.container
					.col-xs-12
						#megamenu-recipes.mega.hidden
							.main
								.col-xs-3.nav
									%ul.sub-sub
										%li.active{'data-data' => '#data-all-recipes'}
											%a{:href => '#'}
												اطباق جانبية اطباق
												%span المزيد
										%li{'data-data' => '#data-second-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
										%li{'data-data' => '#data-third-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
										%li{'data-data' => '#data-fourth-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
								.col-xs-9.posts
									#data-all-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-second-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-third-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-fourth-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix

								.clearfix
						#megamenu-yalahwiii.mega.hidden
							.main
								.col-xs-3.nav
									%ul.sub-sub
										%li.active{'data-data' => '#data-all-recipes'}
											%a{:href => '#'}
												نيهااهاهاهاهههاها
												%span المزيد
										%li{'data-data' => '#data-second-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
										%li{'data-data' => '#data-third-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
										%li{'data-data' => '#data-fourth-recipes'}
											%a{:href => '#'}
												اطباق جانبية
												%span المزيد
								.col-xs-9.posts
									#data-all-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-second-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-third-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix
									#data-fourth-recipes.data.row
										.col-xs-5.no-padding-right
											%h3
												اخر وصفات القسم
											%ul.posts-with-small-thumb
												-(1..5).each do |e|
													%li
														%article
															%a{:href => '#'}
																.img{'data-image' => '//placehold.it/300x300'}
																%h4 طريقة عمل عجينة البيتزا الايطالية

															.details
																.rate
																	.star.active
																	.star.active
																	.star.active
																	.star
																	.star
																.date
																	منذ 5 دقائق

															.clearfix
										.col-xs-7.no-padding-right
											%h3
												اشهر الوصفات

											.posts-with-big-thumb
												.row
													-(1..2).each do |e|
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
														.col-xs-6
															%article{'data-image' => '//placehold.it/400x300'}
																.details
																	%a{:href => '#'}
																		%h4
																			طريقة عمل بطاطس المحمرة
																	.rate
																		.star.active
																		.star.active
																		.star.active
																		.star
																		.star
													.clearfix


										.clearfix

								.clearfix

						.clearfix

					.clearfix