		.container
			.index
				.col-md-8
					.recipes
						.title-section
							%a{:href => '#'}
								%h2 
									الوصفات

							.list
								.dropdown
									%a{'data-toggle' => 'dropdown', :href => '#'}
										اخر الوصفات

									%ul.dropdown-menu
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum


							.clearfix

						.row
							-(1..6).each do |e|
								.col-lg-4.col-sm-6.col-xs-12
									%article
										%a.tag{:href => '#'}
											الفاكهة
										.img{'data-image' => '//lorempixel.com/220/300/food/'}
										.text
											%a{:href => '#'}
												%h3
													الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
											.desciption
												فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
											%a.more{:href => '#'}
												المزيد

											.details
												.date
													منذ 10 دقائق
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix
							.clearfix

						
				%aside.col-md-4
					.ad
						%img{:src => 'images/assets/ad1.png'}

					.sidebar-component.community
						.title-section
							%h2 
								المجتمع

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.avatar-holder
										%a{:href => '#'}
											.avatar
												%img{:src=> 'images/avatar.png' }

									.col-xs-9 
										%a{:href => '#'}
											.body
												ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
										.div.card
											%cite
												%a{:href => '#'}
													محمد جمال الدين
											.date
												منذ 15 دقيقة
											.clearfix

									.clearfix

									.col-xs-12.details
										.row
											.col-xs-4
												%a.like{:href => '#'}
													10 اعجاب
											.col-xs-4
												%a.comment{:href => '#'}
													30 تعليق
											.col-xs-4
												%a.share{:href => '#'}
													10 مشاركات
											.clearfix
				.clearfix

				.col-md-8
					.videos
						.title-section
							%h2 
								الفيديوهات

							.list
								.dropdown
									%a{'data-toggle' => 'dropdown', :href => '#'}
										اخر الوصفات

									%ul.dropdown-menu
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum


							.clearfix
						.clearfix

						.row
							.col-sm-7.col-sm-push-5
								.player
									.screen
										%a.play-button{:href => '#'}
										#ytplayer.hidden
										.img{'data-image' => '#'}
									.text
										%a{:href => '#'}
											%h3
										.details
											.date
											.rate
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star{:href => '#'}
												%a.star{:href => '#'}
											.clearfix
							.col-sm-5.col-sm-pull-7
								.articles
									-(1..5).each do |e|
										- if ( e === 1 )
											%article.active{'data-data' => '{"permalink":"//google.com","image":"http://img.youtube.com/vi/TIfbWqkK_AI/default.jpg","video":"TIfbWqkK_AI","title":"الكانيلّوني على الطريقة الإيطالية","date":"2014-03-03","rate":3}'}
												.row
													.col-xs-5.no-padding-left
														%a{:href => '#'}
															.image-holder
																%img{:src => '//placehold.it/300x200'}
																.time
																	04:50
													.col-xs-7
														%a{:href => '#'}
															%h3
																الكانيلّوني على الطريقة الإيطالية
														.details
															.watch
																150 مشاهدة
															.rate
																%a.star.active{:href => '#'}
																%a.star.active{:href => '#'}
																%a.star.active{:href => '#'}
																%a.star{:href => '#'}
																%a.star{:href => '#'}
															.clearfix
													.clearfix
										- else
											%article{'data-data' => '{"image":"http://img.youtube.com/vi/TIfbWqkK_AI/default.jpg","video":"TIfbWqkK_AI","title":"الكانيلّوني على الطريقة الإيطالية","date":"2014-03-03","rate":5}'}
												.row
													.col-xs-5.no-padding-left
														%a{:href => '#'}
															.image-holder
																%img{:src => '//placehold.it/300x200'}
																.time
																	04:50
													.col-xs-7
														%a{:href => '#'}
															%h3
																الكانيلّوني على الطريقة الإيطالية
														.details
															.watch
																150 مشاهدة
															.rate
																%a.star.active{:href => '#'}
																%a.star.active{:href => '#'}
																%a.star.active{:href => '#'}
																%a.star{:href => '#'}
																%a.star{:href => '#'}
															.clearfix
													.clearfix

							.clearfix

						.clearfix
				%aside.col-md-4
					.sidebar-component.ask-shamlola
						.title-section
							%h2 
								اسألي شملولة

							.clearfix

						-(1..2).each do |e|
							%article.row
								%a.col-xs-12.body{:href => '#'}
									ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

								.col-xs-12.details
									.row
										.col-xs-6
											.date
												منذ 10 دقائق
										.col-xs-6
											.reply.no
												لم يتم الاجابة

										.clearfix
								.clearfix

							%article.row
								%a.col-xs-12.body{:href => '#'}
									ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

								.col-xs-12.details
									.row
										.col-xs-6
											.date
												منذ 10 دقائق
										.col-xs-6
											.answer
												20 اجابة 

										.clearfix
								.clearfix

						.ask-form
							.form-group{:style => 'margin-top:30px'}
								.btn.btn-lg.btn-success.btn-block.ask-button
									اضافة سؤال
								
							.form-group
								.alert.alert-danger.hidden
									%ul
										%li lorem ipsum
										%li lorem ipsum
										%li lorem ipsum


								%form.hidden
									/ 
										add .has-error to .form-group to show red border as alert w keda

									.form-group
										%input.form-control{:placeholder => 'عنوان السؤال', :name => 'title'}

									.form-group
										%textarea.form-control{:rows => '4', :name => 'description'}
									.form-group
										.btn.btn-md.submit.pull-left{:disabled => 'disabled'}
											اضافة

										.clearfix
				.clearfix

				.col-md-8
					.articles
						.title-section
							%h2 
								مقالات

							.list
								.dropdown
									%a{'data-toggle' => 'dropdown', :href => '#'}
										اخر الوصفات

									%ul.dropdown-menu
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum
										%li
											%a{:href => '#'}
												LoremIpsum


							.clearfix

						.row
							-(1..2).each do |e|
								.col-sm-6
									%article.featured
										%a{:href => '#'}
											%h3
												فوائد البقدونس للجسم - فائدة البقدونس  فوائد عصير

										.article-body 
											%a{:href => '#'}
												.img{'data-image' => '//placehold.it/400x300'}

											.details
												%cite
													محمد جمال
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix
							.clearfix

							.others
								-(1..6).each do |e|
									.col-sm-6
										%article
											.row
												.col-xs-4.image-holder-wrapper
													%a{:href => '#'}
														.image-holder
															%img{:src => '//placehold.it/400x300'}
												
												.col-xs-8.text
													%a{:href => '#'}
														%h3
															فوائد البقدونس للجسم - فائدة البقدونس فوائد عصير
													.details
														.date
															منذ 10 دقائق
														%a.more{:href => '#'}
															المذيد

													.clearfix
												.clearfix
								.clearfix
							
						
				%aside.col-md-4
					.sidebar-component.chefs
						.title-section
							%h2 
								الطهاة

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.avatar-holder
										%a{:href => '#'}
											.avatar
												%img{:src=> 'images/avatar.png' }

									.col-xs-9
										%a{:href => '#'}
											.title
												الشيف الشربيني
										.rate
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
										.books
											11 وصفة

									.clearfix

					.sidebar-component.books
						.title-section
							%h2 
								الكتب

							.clearfix

						-(1..3).each do |e|
							%article
								.row
									.col-xs-3.image-holder
										%a{:href => '#'}
											%img{:src=> 'images/assets/book.jpg' }

									.col-xs-9
										%a{:href => '#'}
											.title
												تعلم الطبخ في 24 ساعة
										.rate
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star.active{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
										%cite
											الشيف الربيني

									.clearfix

				.clearfix



