		.container
			.login-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.search-template
					%form.search-section
						.search-input
							%input.form-control{:placeholder => 'ابحث هنا'}
							%button.search-button


				.col-sm-8.col-sm-push-2


					%h1
						تسجيل الدخول
					%p
						قومى بالتسجيل عن طريق البريد الإلكترونى أو اى من شبكات التواصل الإجتماعى

					.using-networks
						%a.facebook{:href => '#'}
						%a.twitter{:href => '#'}
						%a.google{:href => '#'}
						.clearfix

					.warnings.alert.alert-warning
						%ul
							%li
								احرصي على كتابة البريد الإلكترونى وكلمة السر بشكل صحيح.

					%form.form
						.form-group
							.row
								.col-sm-6.has-error
									.form-group
										%input.form-control{:placeholder => 'اسم المستخدم او البريد الالكتروني'}
								.col-sm-6.has-error
									.form-group
										%input.form-control{:placeholder => 'كلمة المرور', :type => 'password'}
								.clearfix

						.form-group
							.row
								.col-sm-6.lost-or-register
									.form-group
										%a{:href => '#'}
											هل نسيت كلمة السر؟
										%span{:href => '#'}
											أو
											%a.tasgel{:href => '#'}
												تسجيل
											مستخدم جديد
								.col-sm-6
									.form-group
										%input.submit.btn.btn-lg.pull-left{:type => 'submit', :value => 'تسجيل دخول'}
										.clearfix

							.clearfix
				.clearfix