		/ %div.main-slider.vides-slider.hidden-xs
		%div.main-slider.hidden-xs
			.container
				.layout.layout-right
				.layout.layout-left
				%a.glyphicon.next{:href=>'#'}
				%a.glyphicon.previous{:href=>'#'}

				%div.col-xs-12.slides
					- (1..4).each do |e|
						.slide
							.col-xs-6.big{'data-image'=>'images/assets/dish.jpg'}
								.slider-content
									/ %a.play-button{:href => '#'}
									%div.data
										%a{:href=>'#'}
											%h4 الكانيلّوني على الطريقة الإيطالية
										%p.description.hidden-sm
											%b
												فوائد الوصفة :
											إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
										
										%div.misc
											%span.date
												23, سبتمبر, 2014
											.rate
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star.active{:href => '#'}
												%a.star{:href => '#'}
												%a.star{:href => '#'}
										%a.btn.btn-default.hidden-sm{:href=>'#'}
											المذيد


									%a.type.hidden-sm{:href=>'#'}
										مقبلات وسلطات
							.col-xs-6.smalls
								.row
									.small.col-xs-6{'data-image'=>'images/assets/7allah.jpg'}
										.slider-content
											/ %a.play-button{:href => '#'}
											%div.data
												%a{:href=>'#'}
													%h4 الكانيلّوني على الطريقة الإيطالية
									
												%div.misc.hidden-sm
													%span.date
														23, سبتمبر, 2014
													.rate
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}

									.small.col-xs-6{'data-image'=>'images/assets/5odar.jpg'}
										.slider-content
											/ %a.play-button{:href => '#'}
											%div.data
												%a{:href=>'#'}
													%h4 الكانيلّوني على الطريقة الإيطالية
									
												%div.misc.hidden-sm
													%span.date
														23, سبتمبر, 2014
													.rate
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}
									.small.col-xs-6{'data-image'=>'images/assets/ana-go3t.jpg'}
										.slider-content
											/ %a.play-button{:href => '#'}
											%div.data
												%a{:href=>'#'}
													%h4 الكانيلّوني على الطريقة الإيطالية
									
												%div.misc.hidden-sm
													%span.date
														23, سبتمبر, 2014
													.rate
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}
									.small.col-xs-6{'data-image'=>'images/assets/dish.jpg'}
										.slider-content
											/ %a.play-button{:href => '#'}
											%div.data
												%a{:href=>'#'}
													%h4 الكانيلّوني على الطريقة الإيطالية
									
												%div.misc.hidden-sm
													%span.date
														23, سبتمبر, 2014
													.rate
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star.active{:href => '#'}
														%a.star{:href => '#'}
														%a.star{:href => '#'}
							.clearfix
