		.container
			.profile-template.profile-images-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.cover{'data-image' => 'images/assets/user-cover.jpg'}
					%a.update-info{:href => '#'}
						تعديل البيانات
					.info-bar
						.avatar-container
							.avatar
								%img{:src => 'images/avatar.png'}
						%h1.name
							جملات السيد علي

						.nav
							%a.photos{:href => '#'}
								الصور
							%a.posts.active{:href => '#'}
								المناقشات
							.clearfix

						.clearfix
					.clearfix


				.wrap
					.col-md-8.articles.grid
						-(1..20).each do |e|
							.col-lg-3.col-md-4.col-sm-4.col-xs-12
								%article
									%a{:href => '#'}
										%img{:src => '//placehold.it/400x500'}

						.clearfix				
						.pagination
							%ul
								%li.next
									%a{:href=>'#'}
										next
								%li.active
									%a{:href => '#'}
										1
								%li
									%a{:href => '#'}
										2
								%li
									%a{:href => '#'}
										3

								%li.previous
									%a{:href=>'#'}
										previous

					%aside.col-md-4
						.sidebar-component.most-active-posts
							.title-section
								%h2 
									المجتمع

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix
										.clearfix
					.clearfix
				.clearfix