		.container
			.profile-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.cover{'data-image' => 'images/assets/user-cover.jpg'}
					%a.update-info{:href => '#'}
						تعديل البيانات
					.info-bar
						.avatar-container
							.avatar
								%img{:src => 'images/avatar.png'}
						%h1.name
							جملات السيد علي

						.nav
							%a.photos{:href => '#'}
								الصور
							%a.posts.active{:href => '#'}
								المناقشات
							.clearfix

						.clearfix
					.clearfix


				.wrap
					.col-md-8
						.posts
							%form.publish-form
								%h2
									اعمل حاجات هنا
								.form-group
									%input.form-control{:placeholder => 'هنان مناقشتك هنا'}
								.form-group
									%textarea.form-control{:placeholder => 'التفاصيل', :rows => '5'}

								.row
									.col-xs-6
										.form-group
											.row
												.col-xs-4.no-padding-left
													%label.image اضافة صورة

												.col-xs-8
													%input.form-control
													%a.upload{:href => '#'}
												.clearfix
									.col-xs-6
										.form-group
											.row
												.col-xs-4.no-padding-left
													%label.list اختار القسم
												.col-xs-8
													%select.form-control
														%option
															__
														%option
															__
														%option
															__
														%option
															__
												.clearfix
									.clearfix
								
								.form-group
									.btn.btn-lg.pull-left.submit
										اضف منشور

									.clearfix

							.title-section
								%a{:href => '#'}
									%h2 
										المناقشات

								.list
									.dropdown
										%a{'data-toggle' => 'dropdown', :href => '#'}
											اخر الوصفات

										%ul.dropdown-menu
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum


								.clearfix
							.community-articles
								-(1..4).each do |e|
									%article
										.text
											%h2
												الكنافة بالمانجا أجدد وأحلى وصفات الحلويات الشرقية
											
											.details
												%cite
													عبد السمع اللميع
												.date
													منذ 10 ساعات
												.clearfix
										
										.actions
											%a.section{:href => '#'}
												حلويات
											%a.comments{:href => '#'}
												250
											%a.share{:href => '#'}
												250
											%a.more{:href => '#'}
												اقرأ المناقشة

											.clearfix
												
					%aside.col-md-4
						.sidebar-component.most-active-posts
							.title-section
								%h2 
									المجتمع

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix
										.clearfix
					.clearfix
				.clearfix