		.container.questions
			.col.xs-12
				.breadcrumps
					%ul
						%li.home
							%a{:href=>'#'}
								%span.glyphicon.glyphicon-home
						%li
							%a{:href=>'#'}
								مكان
						%li
							%a{:href=>'#'}
								مكان
						%li
							مكان
					.clearfix
			.row					
				.col-sm-8
					%form.ask
						.dropdown.ask-header
							.current.pull-right
								%span.title سؤال واجابة
								%span.glyphicon.glyphicon-question-sign

							.section.pull-left.dropdown
								%a{:href => '#' ,'data-toggle' => 'dropdown', 'aria-haspopup' => 'true', 'aria-expanded' => 'false'}
									%span.title
										اختار القسم الخاص بالسؤال
									%span.caret

								%ul.dropdown-menu{:role => 'menu', 'aria-labelledby' => 'dLabel'}
									%li
										%a{:href => '#'}
											لوريم ابيسوم 1
									%li
										%a{:href => '#'}
											لوريم ابيسوم 2
									%li
										%a{:href => '#'}
											لوريم ابيسوم 3
							.clearfix

						.form-group
							%input.form-control{:type => 'text', :placeholder => 'اسأل سؤال'}
						.form-group
							%textarea.form-control{:type => 'text', :placeholder => 'تفاصيل السؤال', :rows => 6}

						.form-group.btns
							.btn
								نشر

					.articles
						- (1..5).each do |e|
							%article
								.row
									.col-xs-2.hidden-xs.hidden-sm
										.image-holder
											%img{ :src => 'images/assets/chief.jpg'}
										.rate
											%a.star.active{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}
											%a.star{:href => '#'}

									.col-md-10
										%h2
											ممكن طريقة عمل الكرواسون؟
										.details
											%span.user
												محمد جمال
											%span.time
												من 15 دقيقة
										.description
											ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا ...

										.clearfix

										%div
											%ul.else.pull-right
												%li.likes
													%span.glyphicon.glyphicon-thumbs-up
													20
												%li.comments
													%span.glyphicon.glyphicon-comment
													20
												%li.shares
													%span.glyphicon.glyphicon-share-alt
													20
											
											%a.answer.pull-left{:href => '#'}
												الاجابة
											.clearfix

								.clearfix

						%a.read-more{:href => '#'}
							%span المزيد

				%aside.col-sm-4
					.related
						%h4
							الأسئلة الأكثر تفاعلا

						-(1..5).each do |e|
							%article
								.row
									.col-xs-3.hidden-xs.hidden-sm
										.image-holder
											%img{ :src => 'images/assets/chief.jpg'}

									.col-md-9
										.details
											%span.user
												محمد جمال
											%span.time
												من 15 دقيقة
										
										%h3
											ممكن طريقة عمل الكرواسون؟

										.clearfix

										%div
											%ul.else.pull-right
												%li.likes
													%span.glyphicon.glyphicon-thumbs-up
													20
												%li.comments
													%span.glyphicon.glyphicon-comment
													20
												%li.shares
													%span.glyphicon.glyphicon-share-alt
													20
											.clearfix

									.clearfix



				.clearfix