		.container
			.recipe-single
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix
				.clearfix
					

				.page-title
					.row
					.col-xs-6
						%h1
							الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
					
					.col-xs-6
						.date-n-tools
							.tools
								%a.glyphicon.glyphicon-heart{:href=>'#'}
								%a.glyphicon.glyphicon-envelope{:href=>'#'}
								%a.glyphicon.glyphicon-print{:href=>'#'}

						.clearfix
					.clearfix

				.col-sm-8
					.single-slider
						%a.previous{:href=>'#'}
							.glyphicon.glyphicon-chevron-right{:href=>'#'}
						%a.next{:href=>'#'}
							.glyphicon.glyphicon-chevron-left{:href=>'#'}

						.sliders
							-(1..2).each do |e|
								.slider
									%img{:src=>'images/assets/bshamel.jpg', :style=>'width:100%'}
									
						.thumbnails
							.thumbnails-holder
								-(1..2).each do |e|
									- if ( e == 1 )
										.thumbnail.active
											%a{:href=>'#'}
												%img{:src=>'//placehold.it/60x60', :alt=>'#'}
									- else
										.thumbnail
											%a{:href=>'#'}
												%img{:src=>'//placehold.it/60x60', :alt=>'#'}
								.clearfix

					.row
						.col-md-6
							%h2
								المكونات
							%table.table
								%tr
									%td
										4 شرائح دجاج كاملة
								%tr
									%td
										1/2 كاس فقاع (فطر) مقطع رقيق
								%tr
									%td
										1/2 كاس فقاع (فطر) كامل
								%tr
									%td
										1ملعقة كبيرة بصل مقطع رقيق
								%tr
									%td
										1 ملعقة كبيرة بقدونس مقطع رقيق
								%tr
									%td
										1ملعقة كبيرة حبق مقطع رقيق
								%tr
									%td
										1 كاس كريمة طازجة
								%tr
									%td
										3 ملاعق كبيرة زيتثوم مسحوقة
								%tr
									%td
										1ملعقة كبيرة بصل مقطع رقيق
								%tr
									%td
										1 ملعقة كبيرة بقدونس مقطع رقيق
								%tr
									%td
										1ملعقة كبيرة حبق مقطع رقيق


						%article.article.col-md-6
							%h2
								طريقة الطهي
							%p
								اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم 
							%p
								البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء 
							%p
								واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
				
					%form.answer-form
						.form-group
							.row
								.col-sm-2.hidden-xs
									.avatar
										%img{:src=>'images/avatar.png'}
								.col-sm-10.textarea-division
									%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليقك هنا'}

								.col-xs-12.submit-division
									%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
										
									.clearfix

								.clearfix
					.answers
						- (1..2).each do |e|
							%article.answer
								.row
									.col-sm-2.avatar-holder.hidden-xs
										.avatar
											%img{:src => 'images/avatar.png'}

									.col-sm-10
										.details
											%cite.pull-right
												سيد محسن
											.date.pull-left
												منذ 10 ساعات
											.clearfix

										.content.answer-content
											%p
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
												اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
											%a.more{:href => '#'}
												المزيد
										.else
											%button.pull-right.btn.add-comment اضف تعليق
											.pull-left.votes
												%a.thumb-up{:href => '#'}
													210
												%a.thumb-down{:href => '#'}
													11
											.clearfix

										%form.answer-form
											.form-group
												.row
													.col-sm-2.hidden-xs
														.avatar
															%img{:src=>'images/avatar.png'}
													.col-sm-10.textarea-division
														%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليق هنا'}

													.col-xs-12.submit-division
														%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
															
														.clearfix

													.clearfix
								
										.comments
											- (1..2).each do |e|
												.comment
													.row
														.col-sm-2.avatar-holder.hidden-xs
															.avatar
																%img{:src => 'images/avatar.png'}

														.col-xs-2.visible-xs

														.col-xs-10
															.details
																%cite.pull-right
																	سيد محسن
																.date.pull-left
																	منذ 10 ساعات
																.clearfix

															.content
																%p
																	اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم

														.clearfix

									.clearfix

				%aside.col-xs-4.hidden-xs
					.rate.main
						.big-star
							4

						%a.star.active.active{:href => '#'}
						%a.star.active.active{:href => '#'}
						%a.star.active.active{:href => '#'}
						%a.star.active{:href => '#'}
						%a.star.active{:href => '#'}
				
					.component
						.col-xs-12
							.time.text-center
								.icon-container
									%span.glyphicon.glyphicon-time.icon
								.time-text
									%span.minutes 
										20
									%span دقيقة
							.chef
								.row
									.col-xs-3.no-padding-left
										.avatar
											%img{:src=>'images/assets/sda.jpg'}
									.col-xs-9
										.author
											%i.fa.fa-user.icon
											%span.name
												الشيف الشربيني
										
										.date
											%i.fa.fa-clock-o.icon
											أكتوبر 27, 2014 - 1:50 م

									.clear
						.clearfix

					.social-buttons
						.row
							.col-xs-6
								%a.facebook-btn{:href=>'#'}
									شارك
							.col-xs-6
								%a.twitter-btn{:href=>'#'}
									غرد
							.clearfix

					.related-posts
						%h3
							وصفات مشابهة من المجتمع
							
						.slides
							- (1..2).each do |e|
								.slide.row
									.col-md-4.no-padding-left
										.img
											%img{:src=>'images/assets/thumb.jpg'}

									.col-md-8
										%h4
											الكانيلّوني على الطريقة الإيطالية
										%div.hidden-xs.hidden-sm
											%span.glyphicon.glyphicon-user
											%span بنَفس : ام جمال ابراهيم
										%div.hidden-xs.hidden-sm
											%span.glyphicon.glyphicon-time
											%span منذ ١٥ دقيقة
										.rate.hidden-xs.hidden-sm
											.star.active
											.star.active
											.star.active
											.star
											.star
									.clearfix

						.navigation
							%a.glyphicon.glyphicon-chevron-right.previous-btn{:href=>'#'}
							.navigation-item
							%a.glyphicon.glyphicon-chevron-left.next-btn{:href=>'#'}

					.suggested-posts
						%h3
							شملولة ترشحلك
							
						.slides
							- (1..2).each do |e|
								.slide
									.row
										.col-md-4.no-padding-left
											.img
												%img{:src=>'images/assets/thumb.jpg'}

										.col-md-8
											%h4
												الكانيلّوني على الطريقة الإيطالية
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-user
												%span.info ام جمال ابراهيم
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-time
												%span.info منذ ١٥ دقيقة
											.rate.hidden-xs.hidden-sm
												.star.active
												.star.active
												.star.active
												.star.active
												.star.active
										.clearfix

									.row
										.col-md-4.no-padding-left
											.img
												%img{:src=>'images/assets/thumb.jpg'}

										.col-md-8
											%h4
												الكانيلّوني على الطريقة الإيطالية
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-user
												%span.info ام جمال ابراهيم
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-time
												%span.info منذ ١٥ دقيقة
											.rate.hidden-xs.hidden-sm
												.star.active
												.star.active
												.star.active
												.star.active
												.star.active
										.clearfix

									.row
										.col-md-4.no-padding-left
											.img
												%img{:src=>'images/assets/thumb.jpg'}

										.col-md-8
											%h4
												الكانيلّوني على الطريقة الإيطالية
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-user
												%span.info ام جمال ابراهيم
											%div.hidden-xs.hidden-sm
												%span.glyphicon.glyphicon-time
												%span.info منذ ١٥ دقيقة
											.rate.hidden-xs.hidden-sm
												.star.active
												.star.active
												.star.active
												.star.active
												.star.active
										.clearfix

						.navigation
							%a.glyphicon.glyphicon-chevron-right.previous-btn{:href=>'#'}
							.navigation-item
							%a.glyphicon.glyphicon-chevron-left.next-btn{:href=>'#'}
				.clearfix

				%section.video-section
					.section-title 
						%h3 
							%span وصفات من نفس القسم  

					.video-section-slider
						.slides.recipes
							- (1..3).each do |e|

								.item
									%article.block-box-5rd
										%a.tag{:href => '#'}
											الفاكهة
										.img{'data-image' => '//lorempixel.com/220/300/food/'}
										.text
											%a{:href => '#'}
												%h3
													الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
											.desciption
												فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
											%a.more{:href => '#'}
												المزيد

											.details
												.date
													منذ 10 دقائق
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix
								.item
									%article.block-box-5rd
										%a.tag{:href => '#'}
											الفاكهة
										.img{'data-image' => '//lorempixel.com/220/300/food/'}
										.text
											%a{:href => '#'}
												%h3
													الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
											.desciption
												فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
											%a.more{:href => '#'}
												المزيد

											.details
												.date
													منذ 10 دقائق
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix
								.item
									%article.block-box-5rd
										%a.tag{:href => '#'}
											الفاكهة
										.img{'data-image' => '//lorempixel.com/220/300/food/'}
										.text
											%a{:href => '#'}
												%h3
													الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
											.desciption
												فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
											%a.more{:href => '#'}
												المزيد

											.details
												.date
													منذ 10 دقائق
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix
								.item
									%article.block-box-5rd
										%a.tag{:href => '#'}
											الفاكهة
										.img{'data-image' => '//lorempixel.com/220/300/food/'}
										.text
											%a{:href => '#'}
												%h3
													الكانيلّوني طريقة عمل عصير التوت مع بذور الكتان الطريقة
											.desciption
												فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
											%a.more{:href => '#'}
												المزيد

											.details
												.date
													منذ 10 دقائق
												.rate
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star.active{:href => '#'}
													%a.star{:href => '#'}
													%a.star{:href => '#'}
												.clearfix

						%nav
							%a.glyphicon.glyphicon-chevron-right.previous{:href=>'#'}
							
							.nav-pagination

							%a.glyphicon.glyphicon-chevron-left.next{:href=>'#'}


						.clearfix