		.container
			.register-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix


				.col-sm-8.col-sm-push-2.text-center
					.header
						%h1
							تسجيل مستخدم جديد
						%p
							قومى بتسجيل مستخدم جديد عن طريق البريد الإلكترونى أو اى من شبكات التواصل الإجتماعى

					.using-networks
						%a.facebook{:href => '#'}
						%a.twitter{:href => '#'}
						%a.google{:href => '#'}
						.clearfix

					.warnings.alert.alert-warning.hidden
						%ul
							%li
								احرصي على كتابة البريد الإلكترونى وكلمة السر بشكل صحيح.

					%form.form
						.form-group
							%label
								الاسم الاول
							%input.form-control
						.form-group
							%label
								الاسم العائلة
							%input.form-control
						.form-group
							%label
								البريد الالكتروني
							%input.form-control
						.form-group
							%label
								كلمة المرور
							%input.form-control{:type => 'password'}
						.form-group
							%label
								تأكيد كلمة المرور
							%input.form-control{:type => 'password'}
						.form-group
							%input.submit.btn.btn-lg.pull-left{:type => 'submit', :value => 'تسجيل'}
							.clearfix

				.clearfix