		.container
			.search-template
				%form.search-section
					.search-input
						%input.form-control{:placeholder => 'ابحث هنا'}
						%button.search-button

				.content
					.col-md-8
						.recipes
							.title-section
								.pull-right
									.div.search-for
										%h2
											نتائج البحث عن: 
											%span.search-query
												بطيخ
										.count
											33 نتيجة بحث



								.list
									.dropdown
										%a{'data-toggle' => 'dropdown', :href => '#'}
											اخر الوصفات

										%ul.dropdown-menu
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
											%li
												%a{:href => '#'}
													LoremIpsum
								.clearfix

							.articles
								.row
									-(1..18).each do |e|
										.col-lg-4.col-sm-6.col-xs-12
											%article
												%a.tag{:href => '#'}
													الفاكهة
												.img{'data-image' => '//lorempixel.com/220/300/food/'}
												.timing
													%div
														20
														%br
														دقيقة
												.text
													%a{:href => '#'}
														%h3
															الكانيلّوني طريقة عمل عصير التوت
													.desciption
														فوائد الوصفة : إدهنى مقلاة كبيرة بزيت الزيتون وسخنيها , إقلى البصل والثوم لمدة 10 دقائق حتى يصبح قوامهم طرى ولكن قبل أن يتخذوا لون. أضيفى السبانخ وإطهيها لمدة 5 دقائق مع التقليب.
													%a.more{:href => '#'}
														المزيد

													.details
														.date
															منذ 10 دقائق
														.rate
															%a.star.active{:href => '#'}
															%a.star.active{:href => '#'}
															%a.star.active{:href => '#'}
															%a.star{:href => '#'}
															%a.star{:href => '#'}
														.clearfix
									.clearfix	
								%a.read-more{:href => '#'}
									%span المزيد

					%aside.col-md-4
						.tags
							%h3
								كلمات دليلية
							.tags-content
								-(1..2).each do |e|
									%a.label.label-orange{:href => '#'}
										سلطة
									%a.label.label-orange{:href => '#'}
										محشي
									%a.label.label-orange{:href => '#'}
										حمام اخضر وبتنجان مقلي
						.ad
							%img{:src => 'images/assets/ad1.png'}

						.sidebar-component.community
							.title-section
								%h2 
									المجتمع

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix

						.sidebar-component.ask-shamlola
							.title-section
								%h2 
									اسألي شملولة

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..2).each do |e|
								%article.row
									%a.col-xs-12.body{:href => '#'}
										ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

									.col-xs-12.details
										.row
											.col-xs-6
												.date
													منذ 10 دقائق
											.col-xs-6
												.reply.no
													لم يتم الاجابة

											.clearfix
									.clearfix

								%article.row
									%a.col-xs-12.body{:href => '#'}
										ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكرا

									.col-xs-12.details
										.row
											.col-xs-6
												.date
													منذ 10 دقائق
											.col-xs-6
												.answer
													20 اجابة 

											.clearfix
									.clearfix
					.clearfix
