		.container
			.settings-template
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.cover{'data-image' => 'images/assets/user-cover.jpg'}
					%a.update-info{:href => '#'}
						تعديل البيانات
					.info-bar
						.avatar-container
							.avatar
								%img{:src => 'images/avatar.png'}
						%h1.name
							جملات السيد علي

						.nav
							%a.photos{:href => '#'}
								الصور
							%a.posts.active{:href => '#'}
								المناقشات
							.clearfix

						.clearfix
					.clearfix
				

				.wrap
					.col-md-8
						%h1
							تعديل البيانات

						.content
							%nav
								%ul
									%li.active
										%a{:href => '#', 'data-tab' => '#details'}
											تعديل البينات
									%li
										%a{:href => '#', 'data-tab' => '#news-letter'}
											النشرة البريدية
								.clearfix
							
							%form
								.tab.active#details.col-xs-12
									.data.row
										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'الاسم الاول'}
										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'اسم العائلة'}

										.col-xs-6
											.form-group
												%select.form-control
													%option{:disabled => 'disabled'} الجنس
													%option ذكر
													%option انثي
										.col-xs-6
											.form-group
												%select.form-control
													%option{:disabled => 'disabled'} البلد
													%option مصر
													%option __
													%option __
													%option __
													%option __

										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'الهاتف'}
										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'الجوال'}

										.clearfix
										
										.form-group.upload-area
											.col-xs-4
												%label.image اضافة صورة

											.col-xs-8
												%input.form-control
												%a.upload{:href => '#'}
											.clearfix
						
										.form-group
											.col-xs-4
												%label
													او قم بإختيار صورة
											.networks.avatars.col-xs-8
												%a.fb{:href=>'#'}
													.avatar
														%img{:src => 'images/avatar.png'}
												%a.twitter{:href=>'#'}
													.avatar
														%img{:src => 'images/avatar.png'}

												%a.google{:href=>'#'}
													.avatar
														%img{:src => 'images/avatar.png'}

												.clearfix	
											.clearfix	
									
										.form-group.upload-area
											.col-xs-4
												%label.image اضافة الغلاف

											.col-xs-8
												%input.form-control
												%a.upload{:href => '#'}
											
											.clearfix
								
										.form-group
											.col-xs-4
												%label
													%i.fa.fa-unlock-alt
													تسجيل الدخول بواسطة
											.networks.col-xs-8
												%a.fb.active{:href=>'#'}
												%a.twitter{:href=>'#'}
												%a.google{:href=>'#'}
												.clearfix

											.clearfix

									.account-settings.row
										.col-xs-12
											%h3
												معلومات الحساب
										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'اسم المستخدم'}
										.clearfix
										
										.col-xs-6
											.form-group
												%input.form-control{:placeholder => 'البريد الالكتروني'}
										.clearfix
										
										.col-xs-6
											.form-group
												%input.form-control{:type => 'password', :placeholder => 'كلمة المرور'}
										.clearfix
										
										.col-xs-6
											.form-group
												%input.form-control{:type => 'password', :placeholder => 'تأكيد كلمة المرور'}
										.clearfix

									.clearfix
								.tab.hidden#news-letter.col-xs-9
									%h3
										اختر نشرتك
									
									.row
										.col-md-4
											%div.checkbox
												%label
													%input{:type=>'checkbox'}
													%span
														عروض شملولة
													.clearfix
										.col-md-4
											%div.checkbox
												%label
													%input{:type=>'checkbox'}
													%span
														عروض شملولة
													.clearfix
										.col-md-4
											%div.checkbox
												%label
													%input{:type=>'checkbox'}
													%span
														عروض شملولة
													.clearfix
										.clearfix
								.clearfix

								.col-xs-12
									.form-group 
										%input.btn.btn-lg.submit.pull-left{:type => 'submit', :value => 'حفظ'}
								.clearfix
							.clearfix


					%aside.col-md-4
						.sidebar-component.most-active-posts
							.title-section
								%h2 
									المجتمع

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix
										.clearfix
					.clearfix
				.clearfix