		.container
			.community-single
				.col.xs-12
					.breadcrumps
						%ul
							%li.home
								%a{:href=>'#'}
									%span.glyphicon.glyphicon-home
							%li
								%a{:href=>'#'}
									مكان
							%li
								%a{:href=>'#'}
									مكان
							%li
								مكان
						.clearfix

				.search-template
					%form.search-section
						.search-input
							%input.form-control{:placeholder => 'ابحث هنا'}
							%button.search-button

				.wrap
					.col-md-8
						%h1
							الكنافة بالمانجا أجدد وأحلى وصفات الحلويات الشرقية
						.thumbnail
							%img{:src => 'images/assets/she2.jpg'}

						.others
							.row
								.col-xs-6
									.author
										%span.type
											كتابة: 
										%span.detail
											بوسينا ابراهيم
								.col-xs-6
									.share
										%a.fb{:href => '#'}
										%a.twitter{:href => '#'}
										%a.google{:href => '#'}
										%a.clearfix{:href => '#'}
										.clearfix
								.col-xs-6
									.date
										%span.type
											التاريخ: 0
										%span.detail
											منذ ساعة
								.col-xs-6
									.comments
										%span.type
											عدد التعليقات:
										%span.detail
											150 تعليق
								.clearfix

						.content
							%p
								يعتبر القرع أو اليقطين من أكثر المحاصيل الزراعية انتشاراً حول العالم. وينتمي إلى الفصيلة القرعية التي تضم البطيخ والخيار والكوسا أيضاً. ولعلّ ما سيثير غرابة البعض أنّ القرع هو أحد أنواع الفاكهة، على الرغم من تواجده في قسم الخضار في الأسواق دائماً. ومنذ آلاف السنين قبل الميلاد وحتى يومنا هذا تمكّن القرع من إدهاش العالم بفوائده الصحيّة العظيمة التي تطول قائمتها يوماً بعد يوم، كما استطاع التسلل إلى العديد من الأصناف الغذائية المحببة لدى مختلف الشعوب.

							%h4
								قيمته الغذائية
							%p
								إنّ هذه الفاكهة المتواضعة التي يشكل الماء 90٪ من وزنها، تحوي نسبة عالية من مضادات الأكسدة كالكاروتينات والبولي فينول فلافيد، بالإضافة للفيتامينات والألياف والمعادن وغيرها من المركبات المهمّة لصحة الإنسان، ممّا جعل أخصائي الأغذية ينصحون بإضافتها إلى الأنظمة الغذائية التي تهدف إلى إنقاص الوزن أوضبط الكوليسترول. والخبر السار أنّه يمكنك الحصول على كل تلك العناصر المغذية مقابل سعرات حرارية معدودة وطعم لذيذ!

								فعند تناولك 100 جم من القرع تحصلين على 26 كالوري فقط من دون أي دهون مشبعة أو كوليسترول أو صوديوم. مقابل كمية جيدة من فيتامين ه ومجموعة فيتامين ب  / الثيامين(فيتامين ب1) والنياسين( ب3) والرايبوفلافين( ب2) ،حمض البانتوثونيك (ب5) وحمض الفوليك( ب9) / والحديد  والفوسفور والمنغنيز والزنك، بالإضافة لنسبة عالية من الألياف وفيتامين أ وفيتامين ج  والبوتاسيوم والمغنيزيوم والكالسيوم  ومركبات البولي فينول فلافونويد.

								" فنبذناه بالعراء وهو سقيم وأنبتنا عليه شجرة من يقطين" سورة الصافات إنّ العناصر الغذائية القيّمة الموجودة في القرع تفسّر الفوائد الصحيّة العظيمة التي تعود على الإنسان .


								%p
									يحتاج الإنسان من أجل أن يستطيع جهازه الهضمي أن يقوم بهضم الطعام بشكل سليم وامتصاص العناصر الغذائية المفيدة منه 20- إلى 35 جم من الألياف يومياً. وهي كمية لا يحصل عليها معظمنا من خلال نظامنا الغذائي المفتقر لهذه الألياف المهمة. الأمر الذي يؤدي إلى الإمساك وغيرها من المشاكل الصحية كالبواسير. لذا فإنّ القرع بما فيه من نسبة ألياف مرتفعة يجعل جهازك الهضمي يعمل بشكل أفضل، فبالإضافة لكون كوب واحد من مهروس القرع يحوي 7 جم من الألياف، فهو أيضاً يزودك ب 10٪ من حاجتك اليومية من  البوتاسيوم الذي له دور كبير في تحسين عمل الجهاز الهضمي.

							%h4
								مناعة قوية
							%p
								إنّ القرع غني بمعدن الحديد الذي يعمل على زيادة مناعة الجسم وقدرته على مقاومة الأمراض. فالكوب الواحد من هريس القرع يزوّد الجسم بنسبة عالية من الحديد(3٫4 ملغم) وهي كمية تمثل 43٪ من حاجة الرجل اليومية من الحديد وتشكل 19٪ من حاجة المرأة اليومية منه . كما أنّه غني بفيتامين أ الذي يقوم بتقوية مناعة الجسم بالإضافة إلى المحافظة على صحة العيون والأسنان والعظام، فالكوب الواحد من هريس القرع يزوّد الجسم ب 1،906 ميكروغرام من فيتامين أ في حين أنّ الحاجة اليومية منه من 700 إلى 900 ميكروغرام. كما آنّ نفس الكمية من الهريس تعطي الجسم 15٪ من حاجته اليومية من فيتامين ه الذي يقوي مناعة الجسم ويحمي الخلايا من التلف الذي قد يؤدي إلى بعض الأمراض كالسرطان.

							%h4
								حماية الجهاز التنفسي
							%p
								إنّ مضادات الأكسدة الموجودة في القرع تعمل على حماية الجهاز التنفسي من الالتهابات وتساهم في الحد من نوبات الربو أيضاً.

							%p
								شرايين صحيّة وقلب معافى
								إنه غنى القرع بمضادات الأكسدة يجعله غذاء يساعد على حماية الشراين من التصلب وبالتالي حماية القلب من الجلطات والسكتات الدماغية.
							
							%h4
								الحد من الاكتئاب
							%p
								القرع غني بالحمض الأميني الأساسي التربتوفان، الذي لا يستطيع الجسم تصنيعه بنفسه، وهو مركب ضروري يقوم بتحفيز الشعور بالسعادة والقضاء على المزاج الحزين.

							%p
								جمال البشرة
								كل من مضادات الأكسدة الموجودة في القرع كفيتامين أ و ج و ه تعمل على حماية البشرة من التلف نتيجة التعرّض للظروف البيئية المحيطة، وتساعد على زيادة جماليتها وحمايتها من الشيخوخة أو حب الشباب. ومن أجل الحصول على أفضل النتائج يفضل المداومة على شرب عصير القرع بانتظام.

							%h4
								المحافظة على صحة العين
							%p
								إنّ مركبي  اللوتين والزياكسانثين بالإضافة لفيتامين أ الموجودين في القرع، يقومون بحماية العين من الجذور الحرّة، ووقايتها من اعتام العدسة والضمور البقعي عند كبار السن.

							%p
								تعرّفي على قيمة  بذور القرع الغذائية، وأفضل طرق شراء وتخزين القرع، وخطوات تجهيزه للطبخ، وكيفية تحضير هريس القرع، بالإضافة لألذ وصفات القرع العالمية وغيرها من المعلومات المفيدة المتعلقة بهذه الفاكهة المدهشة، وذلك في مقال "القرع" في مجلة فتافيت عدد أكتوبر 2014. 


						%form.answer-form
							.form-group
								.row
									.col-sm-2.hidden-xs
										.avatar
											%img{:src=>'images/avatar.png'}
									.col-sm-10.textarea-division
										%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليقك هنا'}

									.col-xs-12.submit-division
										%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
											
										.clearfix

									.clearfix
						.answers
							- (1..2).each do |e|
								%article.answer
									.row
										.col-sm-2.avatar-holder.hidden-xs
											.avatar
												%img{:src => 'images/avatar.png'}

										.col-sm-10
											.details
												%cite.pull-right
													سيد محسن
												.date.pull-left
													منذ 10 ساعات
												.clearfix

											.content.answer-content
												%p
													اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
													اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
													اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم البقدونس والحبق الملح والفلفل الاسود افتحي شرائح الدجاج بطريقة تتحصلين فيها على شكل جيب ودون الوصول الى الحافة ضعي الحشو في الداخل مع الضغط باليد. في إناء سخني الزيت وضعي شرائح الدجاج المحشية افرغي ما يعادل كاس من الماء واتركيه يطهى أضيفي الفقاع (الفطر) الكامل الملح الفلفل الاسود اتركيه يطهى مدة اخرى ضيفي الكريمة الطازجة وحركي جيدا وتقدم 
												%a.more{:href => '#'}
													المزيد
											.else
												%button.pull-right.btn.add-comment اضف تعليق
												.pull-left.votes
													%a.thumb-up{:href => '#'}
														210
													%a.thumb-down{:href => '#'}
														11
												.clearfix

											%form.answer-form
												.form-group
													.row
														.col-sm-2.hidden-xs
															.avatar
																%img{:src=>'images/avatar.png'}
														.col-sm-10.textarea-division
															%textarea.form-control{:rows => '5', :placeholder => 'قم بكتابة تعليق هنا'}

														.col-xs-12.submit-division
															%input.btn.pull-left{:type => 'submit', :value => 'اضف تعليق'}
																
															.clearfix

														.clearfix
									
											.comments
												- (1..2).each do |e|
													.comment
														.row
															.col-sm-2.avatar-holder.hidden-xs
																.avatar
																	%img{:src => 'images/avatar.png'}

															.col-xs-2.visible-xs

															.col-xs-10
																.details
																	%cite.pull-right
																		سيد محسن
																	.date.pull-left
																		منذ 10 ساعات
																	.clearfix

																.content
																	%p
																		اغسلي وقطعي شرائح الدجاج اضيفي لهما الملح والفلفل الاسود في وعاء اخلطي الفقاع (الفطر) المقطع رقيق بالبصل الثوم

															.clearfix

										.clearfix



					%aside.col-md-4
						.ad
							%img{:src => 'images/assets/ad1.png'}

						.sidebar-component.most-active-posts
							.title-section
								%h2 
									المنشورات الأكثر تفاعلاً

								%a.more{:href => '#'}
									المزيد

								.clearfix

							-(1..3).each do |e|
								%article
									.row
										.col-xs-3.avatar-holder
											%a{:href => '#'}
												.avatar
													%img{:src=> 'images/avatar.png' }

										.col-xs-9 
											.div.card
												%cite
													محمد جمال الدين
												.date
													منذ 15 دقيقة
												.clearfix

											%a{:href => '#'}
												.body
													ازيك شملولة لو سمحت عاوزة طريقة الكرواسون وشكراازيك شملولة لو سمحت عاوزة طريقة ...
										.clearfix

										.col-xs-12.details
											.row
												.col-xs-4
													%a.like{:href => '#'}
														10 اعجاب
												.col-xs-4
													%a.comment{:href => '#'}
														30 تعليق
												.col-xs-4
													%a.share{:href => '#'}
														10 مشاركات
												.clearfix
										.clearfix
					.clearfix
				.clearfix