._404 {
	min-height:400px;
	background-color:white;
	padding:70px 0;
	text-align:center;
	color:#646464;
	.image-404 {
		height:300px;
		width: 300px;
		margin:auto;
		background-color:$grey;
		text-align: center;
		padding-top:56.5px;
		border-radius: 150px;
		overflow: hidden;
	}
	.back-home {
		color:white;
		font-size:1.4em;
		margin-top: 30px;
		background-color:$light_green;
		&:after {
			content: '\f100';
			font-family: 'FontAwesome';
		}
	}
}
