.books {
	background-color:white;
	
	.image-holder {
		img {
			width: 100%;
		}
	}

	.content {
		background-color: white;
		.page-header {
			margin-top:0;
			h1 {
				margin-top:0;
			}
		}
	}
}

.articles {
	.article-1st {
		height:380px;
		margin-bottom: 30px;
		h3 {
			color:$dark_blue;
			margin:10px 0 15px;
			font-size: 1.4em;
		}
		.thumnail {
			display: block;
			position:relative;
			height:58%;
			.rate {
				position:absolute;
				bottom: 0;
				right: 0;
				width: 100%;
				padding:5px 15px;
				background-color:rgba(43,42,65,0.7);
			}
		}
		.download {
			background-color:$orange;
			color:white;
			&:hover {
				background-color:$light_green;
			}
		}
		.number-of-pages {
			margin-bottom: 10px;
			&:before {
				content: '\f016';
				font-family: 'FontAwesome';
				margin-left:5px;
				float:right;
				color:$orange;
			}
			&:after {
				content:'';
				clear:both;
				display: block;
			}
		}
		.downloads {
			margin-bottom: 10px;
			&:before {
				content: '\f019';
				font-family: 'FontAwesome';
				margin-left:5px;
				float:right;
				color:$orange;
			}
			&:after {
				content:'';
				clear:both;
				display: block;
			}
		}
	} 

	.article-2nd {
		text-align:center;
		border:1px solid $somehow_blue;
		min-height: 230px;
		padding:10px 15px 0;
		margin-bottom: 15px;
		position:relative;
		.rate {
			margin-bottom: 20px;
		}
		.image {
			margin:15px auto 10px;
			width: 126px;
			height:126px;
			overflow: hidden;
			@include border-radius(63px);
			img {
				width:100%;
				min-height: 100%;
				height:auto;
			}
		}
		.details {
			line-height: 40px;
			height:40px;
			background-color:#fdfdfd;
			border-top:1px solid $somehow_blue;
			.fb, .twitter {
				display: inline-block;
				padding:0 15px;
				font-size: 1.1em;	


				&:before {
					font-family: 'FontAwesome';
					margin-right:5px;
					float:left;
				}
				
				&:after {
					content:'';
					display: block;
					clear:both;
				}
				
				&.fb {
					color:$facebook;
					&:before {
						content:'\f09a';
					}
				}

				&.twitter {
					color:$twitter;
					&:before {
						content:'\f099';
					}
				}
			}
		}
	}

	.article-3nd {

		position:relative;
		margin-bottom:20px;

		.tag {
			display: block;
			position:absolute;
			top:0;
			right:0;
			background-color:$violent;
			color:white;
			padding:5px 12px;
			font-size: 1.1em;
		}

		h3 {
			margin-top:0;
			margin-bottom:20px;
			font-size:1.25em;
			line-height:1.4em;
			&:hover {
				color:$orange;
			}
		}
		.image {
			max-height: 200px;
			overflow: hidden;
			img {
				width: 100%;
			}
		}
		.text {
			padding: 5px 7px 5px;
			background-color: $fa_color;
		}

		/*
		padding:10px 15px;
		padding-bottom:20px;
		min-height:255px;
		color:white;
		overflow: hidden;
		.rate-n-social {
			display: none;
		}
		.data {
			display: block;
			& > * {
				margin-bottom: 3px;
			}
		}
		a {
			&:hover {
				text-decoration:none;
			}
		}
		&:hover {
			& .text {
				height:100%;
				top:0;
				background-color: rgba(100,185,53, 0.7);
				p {
					@include opacity(1);
				}
			}
			& .rate-n-social {
				display: block;
			}
			& .data {
				display: none;
			}
			& .details {
				background-color:$dark_blue;
				color:$light_blue;
			}
			.inner-text {
				@include opacity(1);
			}
		}
		.inner-text {
			@include transition(0.3s);
			@include opacity(0);
		}
		.text {
			@include transition(0.3s);
			position:absolute;
			top:50%;
			bottom:0;
			right:0;
			left:0;
			height:50%;
			z-index: 1;
			background-color: rgba(100,185,53, 1);
			padding:20px 15px;
			a {
				color:white;
				&:hover {
					text-decoration:none;	
				}			}
			h3 {
				margin-top:0;
				font-size:1.2em;
				line-height:1.3em;
			}
			p {
				@include transition(0.3s linear);
				@include opacity(0);
			}
		}
		.image {
			z-index: 0;
			position:absolute;
			right:0;
			left:0;
			top:0;
			bottom:0;
			overflow: hidden;
			img {
				width: 100%;
				height:auto;
				min-height:255px;
			}
		}
		.details {
			font-size:1em;
			position:absolute;
			left:0;
			right:0;
			bottom:0;
			top:auto;
			z-index: 1;
			padding:3px 15px;
			width:100%;
			background-color: rgba(100,185,53, 1);
			color:white;
			a {
				color:white;
			}
			.fb {
				color:#6e84e5;
			}
			.twitter {
				color:#36b1ef;
			}
		}
		*/
	} 
}


// media queries
@media (max-width: 768px) {
	.articles {
		.article-1st {
			.image {
				max-height: 200px;
				overflow: hidden;
			}
		}
	}

}