$body_background: #fff5f2;
$body_background_dark: #f1e4e1;

$somehow_red:#925243;

$serious_blue: #1e1d2d;
$dark_blue: #2b2a40;
$light_blue: #6a80a4;
$somehow_blue:#f0f0f9;
$blue: #6a80a4;
$blue_comment: #e9eefb;

$orange:#ff7949;
$light_orange:#ffded2;
$somehow_orange:#fff5f2;
$light_white:#cfcfcf;

$dark_green:#3fa24f;
$light_green:#6cbd3f;


$light_grey:#f9f9fb;
$good_grey:#dedee0;
$grey:#bbbdbf;
$grey_fo:#818181;

$light_violent:#9392ba;
$violent:#4e4d6c;
$more_violent: #464562;
$violent_foo: #282839;
$somehow_violent: #c1c0dc;


$twitter:#36b1ef;
$facebook:#495ebd;
$google:#cd3d2c;

$fa_color: #fafafa;

$red: #ed1c24;

$shamlola_background_color: #ffded2;