a {
	color:inherit;
	&:hover {
		text-decoration: none;
	}
}

.ad {
	margin-bottom:20px;
}

body {
	background-color: $body_background;
	// font-family: 'Droid Arabic Kufi', serif;
	// font-family:'HelveticaNeue', arial;
	font-family: FrutigerLTArabic;
	font-weight: 400;
	padding:0 !important;
}

.page-header {
	padding:0 0 20px;
	margin-top:20px;
	& > * {
		margin-top:0;
	}
}

.nav-list {
	display: inline-block; 
	select {
		@include border-radius(0);
		height:3em;
	}
	&:nth-child(2) {
		margin-right:15px;
	}
}

.main-content {
	background-color:white;
	padding:0 15px 15px;
	overflow:hidden;
	.image-holder {
		overflow: hidden;
		img {
			width: 100%;
		}
	}
}

.block-box {
	overflow:hidden;
	position:relative;
	margin-bottom:20px;
	img {
		width:100%;
	}
}

.block-box-1st {
	.block-content {
		position:absolute;
		top:0;
		right:15px;
		left:15px;
		height:100%;
		background-repeat: repeat-x;
		background-position: right bottom;
		background-image: url(../../images/slider-gradience.png);
		color:$dark_blue;
		a {
			color:$dark_blue;
			&:hover {
				text-decoration: none;
			}
		}
		
		.tag {
			@include border-radius(40px);
			position:absolute;
			top:10px;
			left:15px;
			width: 80px;
			height: 80px;
			background-color:rgba(100,185,53, 0.8);
			text-align: center;
			.tag-inner {
				position:absolute;
				margin-top: -22px;
				width:100%;
				top:50%;
				color:white;
				& > * {
					display: block;
				}
				.number {
					font-size: 28px;;
					line-height:25px;
				}
				.text {
					font-size: 16px;
					line-height:20px;
				}
			}
		}

		.block-text  {
			position:absolute;
			top:auto;
			bottom:0;
			right:0;
			left:0;
			.block-details, .block-title {
				padding:0 15px;
			}
			.block-title {
				font-size:1.1em;
				line-height:1.4em;
				font-weight: bold;
				margin-bottom: 5px;
			}
			.block-details {
				font-size:0.9em;
				margin-bottom: 5px;
				* {
					display: inline-block;
					vertical-align: middle;
				}
			}
			.misc {
				background-color:white;
				border-right:1px solid $somehow_blue;
				border-left:1px solid $somehow_blue;
				border-bottom:1px solid $somehow_blue;
				line-height: 35px;
				padding:0 15px;
			}
		}

	}
}

.block-box-2nd {
	.image-holder {
		position:relative;
		.misc {
			position:absolute;
			bottom:0;
			right:0;
			width: 100%; 
			background-color:rgba(63,162,79, 0.8);
			line-height: 35px;
			padding:0 15px;
			a {
				color:white;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.tag {
			@include border-radius(40px);
			position:absolute;
			top:10px;
			left:15px;
			width: 80px;
			height: 80px;
			background-color:rgba(100,185,53, 0.8);
			text-align: center;
			.tag-inner {
				position:absolute;
				margin-top: -22px;
				width:100%;
				top:50%;
				color:white;
				& > * {
					display: block;
				}
				.number {
					font-size: 28px;;
					line-height:25px;
				}
				.text {
					font-size: 16px;
					line-height:20px;
				}
			}
		}
	}

	.block-text {
		color:$dark_blue;
		padding:10px 15px;
		border-right:1px solid $somehow_blue;
		border-left:1px solid $somehow_blue;
		border-bottom:1px solid $somehow_blue;
		h4 {
			font-size:1.1em;
		}
		a {
			color:$dark_blue;
			&:hover {
				text-decoration: none;
			}
		}
		.block-details {
			color:$light_blue;
		}
	}
}

.block-box-4th {
	position:relative;
	.image-holder {
		width: 100%;
		height:100%;
		overflow: hidden;
		img {
			width: 100%;
			min-height: 100%;
		}
	}
	.text {
		position:absolute;
		top:0;
		right:15px;
		left:15px;
		height: 100%;
		background-image: url(../../images/invert-slider-gradience.png);
		background-position: right bottom;
		background-size: contain;
		background-repeat:repeat-x;
		.block-text {
			color:white;
			position:absolute;
			bottom:0;
			right:0;
			padding:0 15px 15px;
			a {
				color:white;
			}
		}
	}

}

.read-more {
	color:white;
	position:relative;
	display:block;
	text-align:center;
	margin-bottom:20px;
	& > span {
		@include border-radius(5px);
		@include transition(0.3s);
		display: inline-block;
		background-color:$orange;
		padding:5px 15px;
		z-index:1;
		position:relative;
	}
	&:before {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		right:0;
		margin-top:-1px;
		background-color:$somehow_blue;
		height:1px;
		width:100%;
		z-index: 0;
	}
	&:hover {
		& > span {
			@include transform( scale(1.1) );
			background-color:$light_green;
			color:white;
		}
	}
}

.play-button {
	z-index:0;
	display: block;
	position:absolute;
	width:100%;
	height:100%;
	@include transition(0.6s);
	&:hover {
		&:before {
			transform: scale(1.2);
			background-color:rgba(43,42,65,0.5);
		}
	}
	&:before {
		content:'';
		display: block;
		width: 70px;
		height: 70px;
		background-color:rgba(43,42,65,0.7);
		position:absolute;
		top:50%;
		right:50%;
		margin-right:-35px;
		margin-top:-35px;
		z-index: 0;
		@include transition(0.6s);
		@include border-radius(40px);
	}
	&:after {
		content:'\f04b';
		display: block;
		width: 60px;
		height: 60px;
		line-height: 60px;
		background-color:rgba(43,42,65,0.7);
		font-family: 'FontAwesome';
		text-align:center;
		font-size:1.5em;
		color:white;
		position:absolute;
		top:50%;
		right:50%;
		margin-top:-30px;
		margin-right:-30px;
		z-index: 1;
		@include transition(0.6s);
		@include border-radius(35px);
	}
}

/* video section */
.video-section, .others-section {
	margin-bottom:20px;
	position:relative;
	article {
		.text {
			h3 {
				font-size:1.1em;
			}
		}
	}
	a {
		&:hover {
			text-decoration: none;
		}	
	}
	.others-section-slider, .video-section-slider {
		overflow: hidden;
		.slides {
			margin-right:-1px;
			margin-left:-1px;
			position:relative;
			/* .item {
				display: block;
				padding:1px;
				position:absolute;
				top:0;
				right:0;
				.play-button {
					position:absolute;
					top:50%;
					right:50%;
					width:70px;
					height:70px;
					margin-top:-65px;
					margin-right:-35px;
					z-index: 1;
				}
				& > div {
					top:0;
					right:0;
					background-color:$dark_blue;
					height: 100%;
				}
				.item-content {
					width:100%;
					height: 100%;
					background-image:url(../../images/slider-gradience.png);
					background-repeat:repeat-x;
					background-position:right bottom;
					position:relative;
					.text {
						h4 {
							color:$dark_blue;
						}
						padding:10px 15px;
						position:absolute;
						right:0;
						bottom:0;
						color:$dark_blue;
					}
				}
			} */
			.item {
				display: block;
				padding:15px;
				position:absolute;
				top:0;
				right:0;
			}
		}
	}
	nav {
		position:absolute;
		bottom:0;
		right:0;
		text-align: center;
		width: 100%;
		& * {
			color:$dark_blue;
			display: inline-block;
			a {
				margin:0 2px;
			}
			&.active {
				color:$light_green;
			}
			&:hover {
				color:$dark_blue;
				text-decoration: none;
			}
		}
	}
}

/* section title */
.section-title {
	color:$light_green;
	text-align:center;
	margin-bottom:20px;
	h3 {
		span {
			display: inline-block;
			border-bottom:2px solid $dark_green;
			padding:0 15px 25px;
			position:relative;
			&:after {
				content: '';
				display: block;
				position:absolute;
				bottom:0;
				right:50%;
				margin-right:-10px;
				width:0;
				height:0;
				border-style: solid;
				border-width: 0 10px 10px 10px;
				border-color: transparent transparent $dark_green transparent;
			}
		}
	}

}

/* components */
.breadcrumps {
	font-size:1.1em;;
	margin-bottom:20px;
	list-style:none;
	background-color:white;
	padding-top:10px;
	padding-bottom:10px;
	color:#cdcbe3;
	border-bottom:1px solid $light_grey;
	ul {
		padding:0;
		margin:0;
	}
	li {
		display: inline-block;
		vertical-align: middle;
		line-height: 50px;
		height:50px;
		float:right;
		margin-right:5px;

		&:not(.home):not(:last-child):after {
			content:'\f104';
			font-family: 'FontAwesome';
			margin-right:5px;
			margin-left:5px;
			display: inline-block;
			vertical-align: middle;
		}

		&.home {
			a {
				border:1px solid $somehow_blue;
				border-radius:20px;
				width: 30px;
				height: 30px;
				text-align: center;
				line-height:30px;
			}
		}

		a {
			display: inline-block;
			color:inherit;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

/* more-list */
.more-list {
	.dropdown-menu {
		left:0;
		right:auto;
	}
}

.single-slider {
	overflow: hidden;
	position:relative;
	.next, .previous {
		display: block;
		position:absolute;
		color:white;
		bottom:0;
		z-index: 1;
		height:60px;
		line-height:60px;
		width: 30px;
		text-align:center;
		&:hover {
			text-decoration:none;
		}
	}
	.next {
		right:auto;
		left:0;
	}
	.previous {
		right:0;
		left:auto;
	}
	.sliders {
		position:relative;
		width: 100%;
		height: 100%;
		.slider {
			position:absolute;
			width:100%;
			height: 100%;
			img {
				width: 100%;
				min-height: 100%;
				height:auto;
			}
		}
	}
	.thumbnails {
		position:absolute;
		right:0;
		bottom:0;
		width:100%;
		background-color:rgba(43,42,64, 0.7);
		padding:0px 30px;
		word-spacing:0;
		letter-spacing:0;
		height:58px;
		overflow: hidden;
		.thumbnails-holder {
			margin:auto;
			.thumbnail {
				@include opacity(0.5);
				@include border-radius(0);
				padding:0;
				margin:0;
				width:60px;
				height:60px;
				display: block;
				float:right;
				overflow: hidden;
				margin-left:1px;
				&.active {
					@include opacity(1);
				}
				&.active:hover {
					@include opacity(0.9);
				}
				&:hover {
					@include opacity(0.7);
				}
				img {
					width:100%;
					min-height:100%;
				}
			}
		}
	}
}

.no-padding-left {
	padding-left:0;
}
.no-padding-right {
	padding-right:0;
}
.relative {
	position:relative;
}


#login-modal {
	.modal-content {
		background-color:$fa_color;
		input {
			border-color:$good_grey;
			height: 46px;
		}
		.hint {
			margin-bottom: 40px;
			font-size: 1.4em;
		}
		.submit-button {
			margin-left:10px;
		}
		.lost-password {
			&:hover {
				color:$orange;
			} 
		}
		.register {
			&:hover {
				color:$light_green;
			}
		}
		.submit-button {
			background-color:$light_green;
			color:white;
		}
		.footer {
			margin-top:20px;
		}
	}
	/* .modal-header {
		background-color:$dark_blue;
		color:white;
		.close {
			color:white;
		}
	} */
	.social-login {
		margin-bottom: 10px;
		padding-bottom: 10px;
		.facebook, .twitter, .google {
			color:white;
			padding:7px 25px;
			background-color: $grey;
			font-size:1.2em;
			width: 130px;
			&:not(.google) {
				margin-left:10px;
			}

			@include border-radius(3px);
			&:after {
				font-family: 'FontAwesome';
				margin-right:10px;
				vertical-align: middle;
			}

			&.facebook {
				background-color:$facebook;
				&:after {
					content: '\f09a';
				}
			}
			&.twitter {
				background-color:$twitter;
				&:after {
					content: '\f099';
				}
			}
			&.google {
				background-color:$google;
				&:after {
					content: '\f0d5';
				}
			}
		}
	}
}


@media (min-width: 1200px) {
	.video-section, .others-section {
		.video-section-slider, .others-section-slider {
			.slides {
				.item {
					width:25%;
				}
			}
		}
	}
}

@media (min-width: 992px) and (max-width: 1200px) {
	.video-section, .others-section {
		.video-section-slider, .others-section-slider {
			.slides {
				.item {
					width:33.33%;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.video-section, .others-section {
		.video-section-slider, .others-section-slider {
			.slides {
				.item {
					width:50%;
				}
			}
		}
	}	
}

@media (max-width: 768px) {
	.block-box {
		clear:both;
		margin-bottom: 15px;
	}
	.page-header {
		.lists {
			float:none!important;
			clear:both;
		}
	}

	.video-section, .others-section {
		.video-section-slider, .others-section-slider {
			.slides {
				.item {
					width:100%;
				}
			}
		}
	}	
}

.rate {
	.star {
		display: inline-block;
		vertical-align: middle;
		&:before{
			font-family: 'FontAwesome';
			content: '\f006';
			color:#f87a46;
		}
		&.active {
			&:before {
				content: '\f005';
			}
		}
	}
}