.community-template {
	h1 {
		margin:0 0 20px;
		font-weight: bold;
		color:$dark_blue;
		font-size: 2.2em;
		&:before {
			font-family: 'FontAwesome';
			content: '\f0c0';
			margin-left:10px;
			color:$orange;
			font-weight: normal;
		}
	}
	background-color:white;
	padding-bottom:40px;
	.search-section {
		margin-bottom: 30px;
	}
	.avatar {
		overflow:hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.publish-form {
		margin-top: 0;
		padding-top:30px;  
		border-top:2px solid $orange;
	}
	.title-section {
		margin-top: 30px;
	}
	.community-articles {
		article {
			a {
				color:inherit;
			}
			.data {
				padding-top:20px;
				padding-bottom:20px;
				.text {
					padding:15px 0 0 0;
				}
				.rate {
					margin-top:10px;
					text-align: center;

				}
			}
		}
	}
}

.community-single {
	background-color:white;
	padding-bottom:40px;
	.avatar {
		overflow:hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.search-section {
		margin-bottom: 30px;
	}
	h1 {
		margin-top:0;
		margin-bottom: 30px;
		font-size:1.6em;
		&:before {
			font-family: 'FontAwesome';
			content: '\f100';
			margin-left:5px;
			color:$orange;
		}
	}
	.thumbnail {
		@include border-radius(0);
		min-height: 150px;
		max-height:450px;: 
		border-color: red;
		overflow:hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	.others {
		border-bottom:1px solid $orange;
		padding-bottom:20px;
		margin-bottom:20px;
		color:$light_violent;
		font-size: 1.2em;
		.type {
			color:$violent;
			font-weight: bold;
		}
		.author, .comments, .date {
			&:before {
				font-family: 'FontAwesome';
				content: '\f0d9';
				color:$orange;
				margin-left:5px;
			}
			&.comments {
				float:left;
			}
		}
		.share {
			font-size: 1.4em;
			color:grey;
			a {
				color:inherit;
			}
			.fb, .twitter, .google {
				display: block;
				float:left;
				&:not(.google) {
					margin-right:10px;
				}
				&:before {
					font-family: 'FontAwesome';
				}
				&.fb {
					&:before {
						content: '\f09a';
					}
				}
				&.twitter {
					&:before {
						content: '\f099';
					}
				}
				&.google {
					&:before {
						content: '\f0d5';
					}
				}
			}
		}
	}
	.content {
		padding-bottom:30px;
		font-size: 1.15em;
		line-height: 2;
		color:grey;
		h4 {
			font-size: 1.6em;
			margin-top:20px
		}
	}
}

@media (max-width: 768px) {

	.answer-form {
		.textarea-division {
			&:before {
				display: none;
			}
		}
	}

	.answers {
		.answer {
			.content {
				&:before {
					display: none;
				}
			}
			.answer-form {

			}
		}
	}

}