.title-section {
	border-bottom: 2px solid $somehow_blue;
	margin-bottom: 30px;
	line-height: 60px;
	h2 {
		line-height: 60px;
		margin-bottom: 0;			
		font-size:2.1em;
		margin-top:0;
		float:right;
		font-weight: bold;
		&:before {
			font-weight: normal;
			font-family: 'FontAwesome';
			color:$orange;
			margin-left: 10px;
		}
	}
	.list {
		float:left;
		.dropdown > a {
			line-height: 60px;
			color:$light_violent;
			font-size:1.6em;
			&:focus, &:hover {
				text-decoration: none !important;
			}
			&:after {
				content:'\f0d7';
				font-family: 'FontAwesome';
				font-size:1.15em;
				vertical-align: middle;
				margin-right:5px;
			}
		}
	}
}

.videos {
	.title-section {
		h2:before {
			content: '\f16a';
		}
	}
}
.articles {
	.title-section {
		h2:before {
			content: '\f02e';
		}
	}
}
.most-active-posts {
	.title-section {
		h2:before {
			content: '\f0c0';
		}
	}
}
.community {
	.title-section {
		h2:before {
			content: '\f0c0';
		}
	}
}
.books {
	.title-section {
		h2:before {
			content: '\f02d';
		}
	}
}
.chefs {
	.title-section {
		h2:before {
			content: '\f0f5';
		}
	}
}
.ask-shamlola {
	.title-section {
		h2:before {
			content: '\f059';
		}
	}
}


.recipes {
	.title-section {
		h2:before {
			content: '\f0f5';
		}
	}

	article {
		margin-bottom: 30px;
		color:$violent;
		position: relative;
		// height:300px;
		overflow: hidden;
		.timing {
			position:absolute;
			width:70px;
			height:70px;
			z-index: 1;
			top:15px;
			left:15px;
			overflow:hidden;
			color:white;
			text-align: center;
			white-space: nowrap;
			& > * {
				display: inline-block;
				vertical-align: middle;
				padding:0;
				margin:0;
			}
			&:before {
				content:'';
				height:100%;
				vertical-align: middle;
				display: inline-block;
			}
			&:after {
				content: '';
				position:absolute;
				top:0;
				right:0;
				width:70px;
				height:70px;
				border-radius:35px;
				background-color:rgba(255,121,73, 0.8);
				z-index: -1;
			}

			
		}
		.tag {
			font-size: 1.1em;
			position:absolute;
			top:0;
			right:0;
			background-color:$dark_blue;
			color:white;
			padding:5px 20px;
			z-index: 1;
		}
		.img {
			position:absolute;
			top:0;
			bottom:0;
			right:0;
			left:0;
			z-index: 0;
		}
		.text {
			@include transition(0.3s);
			z-index: 2;
			background-color:$fa_color;
			position:absolute;
			top:auto;
			bottom:0;
			right:0;
			left:0;
			padding-right:10px;
			padding-left:10px;
			padding-bottom:5px;
			h3 {
				@include transition(0.3s);
				font-size:1.3em;
				margin-top:12px;
				color:$dark_blue;
				line-height: 1.4em;
			}
			.desciption {
				display: none;
				color:white;
			}
			.details {
				.date {
					white-space: nowrap;
					float:right;
					&:before {
						content: '\f017';
						font-family: 'FontAwesome';
					}
				}
				.rate {
					float:left
				}
			}
			.more {
				display: none;
				text-align: center;
				font-size: 0;
				&:before {
					display: inline-block;
					font-size: 14px;
					content:'المزيد';
					margin-top:15px;
					color:white;
					padding:5px 20px;
					border:1px solid white;
				}
			}
		}
		&:hover {
			.text {
				h3 {
					color:$orange;
				}
			}
		}
	}
}


.search-section {
	min-height: 110px;
	background-color:#f8f8f8;
	position:relative;
	.search-input {
		position:relative;
		width:70%;
		margin:auto;
		position: absolute;
		top:50%;
		right:17.5%;
		margin-top:-25px;
		@include border-radius(15px);
		overflow: hidden;
		input {
			@include border-radius(15px);
			border-color:$good_grey;
			height:50px;
			font-size:1.4em;
			padding-left:80px;
		}
		.search-button {
			background:none;
			border:none;
			position: absolute;
			left:0;
			top:0;
			bottom:0;
			background-color:$orange;
			width:70px;
			text-align: center;
			&:before {
				content:'\F002';
				font-family: 'FontAwesome';
				color:white;
				font-size:1.6em;
				line-height: 50px;
			}
			&:after {
				content: '';
				position:absolute;
				left: 100%;
				right:auto;
				top:50%;
				bottom:auto;
				margin-top:-10px;
				width:0;
				height:0;
				border-style:solid;
				border-width:10px  0 10px 10px;
				border-color:transparent transparent transparent $orange;
			}
			&:hover {
				background-color:#DB6135;
				&:after {
					border-color:transparent transparent transparent #DB6135;
				}
			}
		}
	}
}

.tags {
	margin-bottom: 30px;
	h3 {
		font-size:1.8em;
		padding-bottom:20px;
		margin-bottom: 30px;
		border-bottom: 1px solid $somehow_blue;
		font-weight:bold;
		&:before {
			font-family: 'FontAwesome';
			content: '\f02b';
			margin-left:5px;
			vertical-align: middle;
			color:$orange;
		}
	}
	.tags-content {
		.label {
			font-weight: normal;
			font-size: 1.2em;
			display: inline-block;
			margin-bottom: 10px;
			&:after {
				font-family: 'FontAwesome';
				content: '\f02b';
				margin-right:5px;
				vertical-align: middle;
			}
			&.label-orange {
				background-color:$light_violent;
				&:hover {
					background-color:$violent;
				}
			}
		}
	}
}

.community-articles {
	article {
		background-color: $fa_color;
		margin-top:30px;
		border:1px solid $somehow_blue;
		.text {
			padding:20px 25px;
			h2 {
				padding:0;
				margin:0 0 10px 0;
				font-size: 1.4em;
			}
			.details {
				cite {
					float:right;
					font-weight: bold;
					margin-left:10px;
				}
				.date {
					float:right;
					color:$light_violent;
				}
			}
		}
		.actions {
			padding:0px 25px;
			border-top:1px solid $somehow_blue;
			background-color:white;
			line-height: 3;
			font-size: 1.25em;
			a {
				color:inherit;
			}
			& > *:not(.clearfix):not(.more) {
				float:right;
				&:not(.section) {
					margin-left:20px;
				}
				&.section {
					margin-left:40px;
				}
			}

			.comments, .share {
				color:$grey_fo;
				white-space: nowrap;
				&:before {
					display: block;
					float:right;
					font-family: 'FontAwesome';
					margin-left: 5px;
					@include transition( 0.3s );
				}
				&.share {
					&:before {
						content: '\f045';
					}
				}
				&.comments {
					&:before {
						content: '\f086';
					}
				}
				&:hover {
					color:black;
					&:before {
						@include transform( scale(1.2) );
					}
				}
			}
			.more {
				color:$light_green;
				float:left;
			}
		}
	}
}

.targets {
	.target:not(.active) {
		display: none;
	}
}

aside {
	.ad {
		margin-bottom: 30px;
	}

	.related-posts, .suggested-books, .suggested-posts {
		min-height:250px;
		border:1px solid $light_grey;
		position:relative;
		padding:20px 15px 10px;
		margin-bottom:30px;
		
		&.suggested-posts:before {
			content:'';
			display:block;
			background-image:url(../../images/main-sprite.png);
			background-repeat:no-repeat;
			background-position:-15px 0;
			width:17px;
			height:34px;
			position:absolute;
			top:-7px;
			left:20px;
		}

		h3 {
			margin-top:0;
			margin-bottom:20px;
			font-size:1.2em;
			color:$dark_green;
			font-weight:bold;
		}

		&.suggested-posts {
			h3 {
				color:$orange;
			}
		}

		.slides {
			overflow: hidden;
			position:relative;
			min-height: 150px;
			.slide {
				width: 100%;
				position:absolute;
				top:0;
				right:0;

				color:$dark_blue;
				font-size:0.9em;
				.img {
					overflow:hidden;
					img {
						width:100%;
						height:auto;
					}
				}
				h4 {
					margin-top:0;
					margin-bottom:15px;
					font-size: 1em;
					font-weight:bold;
				}

				.info {
					color:$light_violent;
				}
			}
		}

		&.suggested-posts {
			.slides {
				min-height: 380px;
				.slide {
					.row {
						margin-bottom: 20px;
					}
				}
			}
		}

		.navigation {
			text-align:center;
			& > * {
				display:inline-block;
			}
			a {
				margin:0 2px;
				color:$dark_blue;
				&:hover {
					color:$light_green;
					text-decoration:none;
				}
				&.active {
					color:$light_green;
				}
			}
		}
	}

	.component {
		padding-top:20px;
		border-width:1px;
		border-color: $dark_blue #f7f7f7 #f7f7f7 #f7f7f7;
		border-style:solid;
		margin-bottom: 20px;
	}

	// sidebar components
	.sidebar-component {
		margin-bottom: 40px;
		padding: 0 15px;
		.avatar {
			img {
				width: 100%;
			}
		}
		article:not(:last-of-type) {
			padding-bottom:15px;
			margin-bottom:15px;
			border-bottom:1px solid $somehow_blue;
		}
		article {
			color:$light_violent;
			.avatar-holder {
				padding-left:0;
			}
			.card {
				margin-bottom: 10px;
				* {
					display: inline-block;
				}

				cite {
					font-weight: bold;
					color:$dark_blue;
					margin-left:5px;
				}
			}
			.body {
				color:$violent;
			}
			.details {
				margin-top:20px;
				white-space: nowrap;
				.like, .share, .comment {
					color:$light_violent;
					&:before {
						font-family: 'FontAwesome';
						margin-left:10px;
						float:right;
						@include transition( 0.3s );
					}
					&:hover {
						&:before {
							@include transform( scale(1.2) );
							color:$light_green;
						}
					}
				}
				.like {
					&:before {
						content: '\f164';
					}
				}
				.comment {
					&:before {
						content: '\f075';
					}
				}
				.share {
					&:before {
						content: '\f045';
					}
				}
			}
		}
	}

	.title-section {
		margin-bottom:20px;
		line-height: 44px;
		border-color:$orange;
		border-width:2px;
		line-height: 62px;
		h2 {
			line-height: 60px;
			font-size:1.5em;
			&:before {
				color:$orange;
				margin:0;
			}
		}
		.more {
			color:$dark_blue;
			float:left;
			&:after {
				margin-right:5px;
				font-family: 'FontAwesome';
				content: '\f100';
			}
		}
	}
	
	// ask shamlola
	.ask-shamlola {
		.body {
			color:$light_violent;
			font-size: 1.2em;
		}
		.details {
			.answer, .reply {
				&:after {
					font-family: 'FontAwesome';
					margin-right:5px;
				}
			}
			
			.reply {
				&:after {
					content: '\f058';
				}
			}

			.answer {
				&:after {
					content: '\f14c';
					color:$light_green;
				}
			}
		}
		.ask-form {
			.form-group:not(.has-error) {
				border-color:#e9e9e9;
			}
			.btn {
				background-color:$violent;
				color:white;
				border:none;
			}
			.submit {
				background-color:$light_violent;
			}
		}

	}

	.community {
		article {
			.body {
				margin-bottom:5px;
			}
			.card {
				margin: 0;
			}
		}
	}
}

.publish-form {
	padding:15px 20px;
	background-color: $fa_color;
	margin-top:20px;
	label {
		line-height: 40px;
	}
	.form-control {
		border-color:$somehow_violent;
		&:not(textarea) {
			height:40px;
		}
	}

	.submit {
		background-color:$light_green;
		color:white;
		@include border-radius(0);
		&:hover {
			background-color:$orange;
		}
	}
	.image {
		&:before {
			color:$dark_blue;
			vertical-align: middle;
			content: '\f03e';
			font-family: 'FontAwesome';
			margin-left:10px;
		}
	}
	.list {
		&:before {
			color:$dark_blue;
			vertical-align: middle;
			content: '\f03a';
			font-family: 'FontAwesome';
			margin-left:10px;
		}
	}
	.upload {
		position: absolute;
		height:100%;
		width:40px;
		background-color:$grey;
		top:0;
		left:15px;
		padding:0 25px;
		@include border-radius(4px 6px 6px 4px);
		&:before {
			content:'';
			width: 0;
			height: 0;
			top:50%;
			left:100%;
			margin-top:-10px;
			position:absolute;
			border-style:solid;
			border-width:10px 0 10px 10px;
			border-color:transparent transparent transparent $grey;
		}
		&:after {
			content:'\f093';
			color:white;
			position:absolute;
			top:50%;
			left:0;
			right:0;
			bottom:0;
			text-align: center;
			line-height: 30px;
			margin-top:-15px;
			font-size: 1.2em;
			vertical-align: middle;
			font-family: 'FontAwesome';
		}
	}
}


.answer-form {
	border-top:1px solid $somehow_blue;
	padding-top:30px;
	margin-bottom: 50px;
	.textarea-division {
		position:relative;
		margin-bottom: 20px;
		&:before {
			content: '';
			width:13px;
			height: 17px;
			position:absolute;
			top:35px;
			right:3px;
			background-image: url(../../images/main-sprite.png);
			background-repeat:no-repeat;
			background-position: 0 -14px;
		}
		textarea {
			border-color:$somehow_blue;
			@include box-shadow(initial);
			&:focus {
				@include box-shadow(initial);
			}
		}
	}
	.submit-division {
		.btn {
			background-color:$light_green;
			color:white;
			font-size: 1.2em;
			padding:8px 35px;
		}
	}
}

.answers {
	&.shamlola-answer {
		.answer {
			.content {
				min-height: 100px;
				background-color:$shamlola_background_color;
				&:before {
					border-color:transparent transparent transparent $shamlola_background_color;
				}
			}
		}
	}
	.answer {
		margin-bottom: 20px;
		.details {
			margin-bottom: 10px;
			color:$violent;
			cite {
				font-weight: bold;
			}
		}
		.avatar-holder {
			margin-top:30px;
		}
		.content {
			min-height: 100px;
			padding:10px 25px;
			background-color: $body_background;
			font-size: 1.1em;
			line-height: 1.8em;
			position: relative;
			margin-bottom: 20px;
			&:before {
				content: '';
				width:0;
				height: 0;
				position:absolute;
				left:100%;
				top:30px;
				border-style:solid;
				border-width:15px 0 15px 15px;
				border-color:transparent transparent transparent $body_background;
			}
			.more {
				color:$grey;
				padding:10px 25px;
				margin:30px -25px -10px;
				display: block;
				background-color:$body_background_dark;
				&:hover {
					color:$dark_blue;
					text-decoration: none;
				}
			}
		}
		.else {
			margin-bottom: 40px;
			.add-comment {
				background-color:$violent;
				color:white;
				&:after{
					content: '\f075';
					font-family: 'FontAwesome';
					padding-right:10px
				}
			}
			.votes {
				.thumb-up, .thumb-down {
					color:$violent;
					float:right;
					margin-right:15px;
					font-size: 1.2em;
					&:hover {
						text-decoration: none;
					}
				}
				.thumb-up {
					&:after{
						color:$light_green;
						content: '\f164';
						font-family: 'FontAwesome';
						display: inline-block;
						@include transition( 0.3s );
					}
					&:hover {
						&:after{
							@include transform( scale(1.5) );
						}	
					}
				}
				.thumb-down {
					&:after{
						color:$red;
						content: '\f165';
						font-family: 'FontAwesome';
						display: inline-block;
						@include transition( 0.3s );
					}
					&:hover {
						&:after{
							@include transform( scale(1.5) );
						}	
					}
				}
			}
		}
		.comments {
			.comment {
				margin-bottom: 30px;
				.content {
					min-height: 100px;
					background-color:$blue_comment;
					&:before {
						border-color:transparent transparent transparent $blue_comment;
						
					}
				}
			}
		}

		.answer-form {
			display: none;
			.submit-division {
				.btn {
					padding:5px 20px;
					font-size: 1em;
					background-color:$violent;
				}
			}
		}

	}
}

.pagination {
	display:block;
	text-align:center;
	padding:0;
	margin:0;
	list-style:none;
	li {
		display: inline-block;
		a {
			display: block;
			padding:3px 8px;
			margin:0 -1.5px;
		}

		&:hover {
			a {
				background-color: #f3f2f2;
			}
		}
		&.active {
			a {
				background-color:#49476d;
				color:white;
			}
		}

		&.next, &.previous {
			a {
				font-size:0;
				&:before {
					font-family: FontAwesome;
					font-size:16px;
				}
			}

			&.next {
				a:before {
					content: '\f101';
				} 
			} 
			&.previous {
				a:before {
					content: '\f100';
				}
			}
		}

	}
}