/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */


@font-face {
	font-family: 'FrutigerLTArabic';
	font-style: bold;
	font-weight: 700;
	src: 	url(../fonts/FrutigerLTArabic/bold/FrutigerLTArabic-bold.eot);
	src: 	url(../fonts/FrutigerLTArabic/bold/FrutigerLTArabic-bold.eot?#iefix) format('embedded-opentype'),
			url(../fonts/FrutigerLTArabic/bold/FrutigerLTArabic-bold.woff) format('woff'),
			url(../fonts/FrutigerLTArabic/bold/FrutigerLTArabic-bold.ttf) format('truetype');
}

@font-face {
	font-family: 'FrutigerLTArabic';
	font-style: light;
	font-weight: 400;
	src: 	url(../fonts/FrutigerLTArabic/light/FrutigerLTArabic-light.eot);
	src: 	url(../fonts/FrutigerLTArabic/light/FrutigerLTArabic-light.eot?#iefix) format('embedded-opentype'),
			url(../fonts/FrutigerLTArabic/light/FrutigerLTArabic-light.woff) format('woff'),
			url(../fonts/FrutigerLTArabic/light/FrutigerLTArabic-light.ttf) format('truetype');
}

@font-face {
	font-family: 'FrutigerLTArabic';
	font-style: roman;
	font-weight: 300;
	src: 	url(../fonts/FrutigerLTArabic/roman/FrutigerLTArabic-roman.eot);
	src: 	url(../fonts/FrutigerLTArabic/roman/FrutigerLTArabic-roman.eot?#iefix) format('embedded-opentype'),
			url(../fonts/FrutigerLTArabic/roman/FrutigerLTArabic-roman.woff) format('woff'),
			url(../fonts/FrutigerLTArabic/roman/FrutigerLTArabic-roman.ttf) format('truetype');
}



@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.otf);
	src: url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.otf?#iefix) format('embedded-opentype'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.woff) format('woff'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.svg) format('svg'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.ttf) format('truetype');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: bold;
	font-weight: 700;
	src: url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.eot);
	src: url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.eot?#iefix) format('embedded-opentype'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.woff) format('woff'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.svg) format('svg'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.ttf) format('truetype');
}

/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 400;
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Droid Arabic Kufi';
	font-style: normal;
	font-weight: 700;
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
	src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
			 url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.otf);
	src: url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.otf?#iefix) format('embedded-opentype'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.woff) format('woff'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.svg) format('svg'),
			 url(../fonts/HelveticaNeue/roman/HelveticaNeueLTArabic-Roman.ttf) format('truetype');
}

@font-face {
	font-family: 'HelveticaNeue';
	font-style: bold;
	font-weight: 700;
	src: url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.eot);
	src: url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.eot?#iefix) format('embedded-opentype'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.woff) format('woff'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.svg) format('svg'),
			 url(../fonts/HelveticaNeue/bold/HelveticaNeueLTArabic-Bold.ttf) format('truetype');
}

@font-face {
	font-family: "Flaticon";
	src: 	url("../fonts/Flaticon/flaticon.eot");
	src: 	url("../fonts/Flaticon/flaticon.eot#iefix") format("embedded-opentype"),
			url("../fonts/Flaticon/flaticon.woff") format("woff"),
			url("../fonts/Flaticon/flaticon.ttf") format("truetype"),
			url("../fonts/Flaticon/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
	font-style: normal;
}.flaticon-apple55:before {
	content: "\e000";
}
.flaticon-cocktail32:before {
	content: "\e001";
}
.flaticon-cookies2:before {
	content: "\e002";
}
.flaticon-covered16:before {
	content: "\e003";
}
.flaticon-double15:before {
	content: "\e004";
}
.flaticon-sweet9:before {
	content: "\e005";
}
.flaticon-wedding6:before {
	content: "\e006";
}