footer {
	padding-top:10px;
	// margin-top:30px;
	background-color:$dark_blue;
	ul {
		padding:0;
		margin:0;
	}
	a {
		color: $light_blue;
		&:hover {
			color:white;
			text-decoration: none;
		}
	}
	.content {
		h4 {
			color:$light_green;
			font-size:1.1em;
		}


		ul {
			list-style: none;
			li {
				margin-bottom:3px
			}
		}

		.social {
			.socicon {
				color: $somehow_red;
				&:hover {
					color:white;
				}
			}
			input {
				width: 100%;
				background-color: $serious_blue;
				background-image: url(../../images/search.png);
				background-size:16px 14px;
				background-position:15px center;
				background-repeat:no-repeat;
				border:none;
				height:50px;
				box-sizing:border-box;
				padding:15px;
				margin-bottom:10px;
				margin-top:38px;
				outline:none;
				color:white;
				padding-left:40px;
				&:focus {
					border:none;
					outline:none;
				} 
			}
			.row {
				div {
					box-sizing:border-box;
					width:20%;
					display: block;
					float:left;
					padding:0 15px;
					a {
						font-size: 1.2em;
						display: block;
						margin-right:10px;
					}
				}
			}
		}
	}

	.bar {
		background-color: $serious_blue;
		height:66px;
		margin-top:50px;
		color:white;
		line-height:66px;
		li {
			display: block;
			float:right;
			a {
				display: block;
				margin-left:10px;
			}
		}
	}
}