$header-grey: #f7f7f7;
$header-grey-dark: #8a898d;
$header-grey-violent: #bf5fbf;
$header-orange: #f8725a;
$header-red: #df4242;
$header-green: #7dc966;
$header-yellow: #fccf49;
$header-grey-hover: #e4e3e3;
$header-grey-font-color: #3b3b3b;
$header-mega-bg-color:#f3f2f2;
$header-mega-bg-color-dark:#ebe6e6;
$header-mega-grey:#929195;
$header-mega-grey-dark:#3c3a3a;
$header-mega-grey-light:#c8c8c8;
header {
	position:relative;
	.first-level {
		color:$header-grey-font-color;
		background-color: $header-grey;
		border-top:5px solid $header-grey-dark;
		position:relative;
		[class^=col] {
			position:static;
		}
		.logo {
			display: block;
			height:100%;
			padding:11.5px 0;
			img {

			}
		}
		nav.main {
			position:static;
			margin-right: 50px;
			> ul {
				list-style: none;
				padding:0;
				margin:0;
				> li {
					text-align: center;
					display: block;
					float:right;
					border-width: 5px 0 0 0;
					border-style: solid;
					margin-top:-5px;
					min-width: 57px;
					> a {
						display: block;
						height:70px;
						font-size: 1.15em;
						padding: 10px 17px 0;
						display: block;
						& > * {
							display: block;
						}
						.icon {
							&:before {
								margin:0;
								font-size: 1.2em;
							}
						}
					}
					&.h-recipes {
						border-color: $header-orange;
					}
					&.h-videos {
						border-color: $header-red;
					}
					&.h-books {
						border-color: $header-green;
					}
					&.h-chefs {
						border-color: $header-yellow;
					}
					&.h-community {
						border-color: $header-grey-violent;
					}
					&.h-articles {
						
						border-color: $header-red;
					}

					&.active, &:hover {

						@include box-shadow( (1px 0 5px rgba(0,0,0,0.03), -1px 0 5px rgba(0,0,0,0.03)) );
						> a {
							background-color:white;
							*:not(.icon) {
								color:$orange;
							}
							.icon {
								color:black;
							}
						}
						// .sub {
						// 	z-index: 2;
						// 	height:60px;
						// 	nav {
						// 		height:60px;
						// 	}
						// }
					}
				}
			}
		}
		.utilities {
			list-style: none;
			margin:0;
			padding:0;
			position:static;
			> li {
				height:75px;
				border-width: 5px 0 0 0;
				border-color: transparent;
				border-style: solid;
				display: block;
				float: right;
				margin-top:-5px;
				padding: 35px 5px 0;
				> a {
					color:inherit;
					margin-top:-18px;
					padding:5px 8px;
					font-size:1.2em;
					display: block;
					/* &:hover {
						@include border-radius(3px);
						background-color:$header-grey-hover;
					} */
				}
				&.social {
					a {
						float:right;
						&:not(:first-of-type) {
							padding-left:13px;
						}
						&:not(:last-of-type) {
							padding-right:13px;
						}
					}
				}
				&.active, &:hover {
					border-color:$header-orange;
					background-color:white;
				}
			}
		}
	}
	.second-level {
		display: none;
		height: 60px;
		background-color:white;
		border-bottom:3px solid $header-orange;
		.collapse-second-level {
			position:absolute;
			top:50%;
			left:15px;
			margin-top:-14.5px;
			font-size:1.4em;
			color:$orange;
			z-index: 1;
			&:before {
				content: '\f139';
				font-family: FontAwesome;
			}
		}
		.row, .container, [class^=col-] {
			height:60px;
		}
		.sub {
			position: absolute;
			top: 0;
			right: 15px;
			left: 15px;
			text-align: right;
			// background-color:white;
			display: none;
			.list {
				list-style: none;
				padding:10px 0 0;
				margin:0;
				> li {
					float:right;
					> a {
						@include transition(0.15s);
						@include border-radius(10px 10px 0 0);
						text-align: center;
						display: block;
						font-size: 1.2em;
						padding:8px 15px 15px;
						min-width: 80px;
						color:$header-grey-font-color;
						white-space: nowrap;
					}
					&.active, &:hover {
						> a {
							background-color: $header-orange;
							color:white;
						}
					}
				}
			}
			.text {
				position: relative;
				.search {
					display: block;
					.form-control {
						height:55px;
						border:none;
						background-color:none;
						@include border-radius(0);
						font-size: 1.4em;
						box-shadow:none;
						padding-left:80px
					}
					input[type=submit] {
						position:absolute;
						top:50%;
						left:25px;
						margin-top:-17px;
						background-color:$orange;
						color:white;
						padding:7px 25px;
					}
				}
			}
			.social-buttons {
				margin:20px 0 0 30px;
				padding: 0;
				list-style: none;
				li {
					float:left;
					font-size: 1.5em;
					&.mail, &.rss {
						margin-right: 15px;
						margin-top: -5px;
					}
					&.fb {
						margin-top: -10px;
						margin-right: 15px;
					}
					&.twitter {
						width: 160px;
						overflow: hidden;
						margin-top: -3px;
						margin-right: 15px;
					}
					&.google {
						width: 70px;
						overflow: hidden;
						margin-right: 15px;
					}
				}
			}
		}
	}
	.third-level {
		display: none;
		background-color:$header-mega-bg-color;
		position: absolute;
		top: 100%;
		right:0;
		left:0;
		z-index: 1;
		.mega {
			display: none;
			background-color:$header-mega-bg-color;
			.main {
				height:420px;
			}
			.nav {
				height: 100%;
				.sub-sub {
					height:100%;
					padding:0;
					margin:0;
					list-style:none;
					background-color:$header-mega-bg-color-dark;
					li {
						a {
							display: block;
							padding-right: 15px;
							padding-top:12px;
							padding-bottom:12px;
							font-size: 1.2em;
							span {
								display: none;
							}
						}
						&:hover, &.active {
							a {
								@include box-shadow( (0 1px 5px rgba(0,0,0,0.03), 0 -1px 5px rgba(0,0,0,0.03)) );
								color:$header-green;
								background-color:white;
								border-right:5px solid $header-green;
								position:relative;
								padding-left:90px;
								span {
									position:absolute;
									top:50%;
									left:15px;
									background-color:$orange;
									color:white;
									display: block;
									padding:0 10px;
									line-height:1.7em;
									font-size: 14px;
									@include border-radius(3px);
									margin-top:-10px;
									&:after {
										content: '\f104';
										margin-right:10px;
										font-family: FontAwesome;
									}
								}
							}
						}
					}
				}
			}
			.posts {
				.data {
					display: none;
					h3 {
						color:$header-mega-grey;
						padding:0;
						margin:10px 0 20px;
						font-size: 1.4em;
					}
					h4 {
						margin:0;
					}

					.posts-with-small-thumb {
						list-style: none;
						margin:0;
						padding:0;
						li {
							background-color:white;
							margin:0;
							padding:14.5px;
							&:not(:last-child) {
								border-bottom:1px solid #eee;
							}
							article {
								position:relative;
								padding-left:100px;
								h4 {
									color:$header-mega-grey-dark;
								}
								.img {
									float:right;
									width:40px;
									height:40px;
									margin-left:10px;
								}
								.details {
									display: none;
									position:absolute;
									left:0;
									top:0;
									float:left;
									.rate {
									}
									.date {
										color:$header-mega-grey-light;
										font-size: 0.8em;
										&:before {
											content: '\f017';
											margin-left:2px;
											font-family: FontAwesome;
										}
									}
								}
								&:hover {
									.details {
										display: block;
									}
								}
							}
						}
					}
					.posts-with-big-thumb  {
						.row {
							margin:0 -7.5px;
						}
						[class^=col] {
							padding:0 7.5px;
						}
						article {
							position:relative;
							margin-bottom: 15px;
							.details {
								h4 {
									margin-bottom: 8px;
								}
								padding:7px 10px;
								background-color: rgba(255,255,255,0.6);
								position:absolute;
								right:0;
								left:15px;
								bottom:10px;
								top:auto;
							}
						}
					}
				}
			}	
		}
	}
}