.index {
	background-color:white;
	padding-top:30px;

	// helpers		
	.image-holder {
		img {
			width: 100%;
			height: auto;
		}
	}

	.ad {
		margin:0 auto 30px;
		text-align: center;
		&.wide {
			margin-bottom: 30px;
		}
	}

	
	.avatar {
		img {
			width: 100%;
		}
	}

	.videos {
		margin-bottom: 30px;
		a {
			color:inherit;
		}
		.articles {
			article {
				margin-bottom: 0;
				padding:10px 0 10px 10px;
				position:relative;
				.image-holder {
					width: 100%;
					width: auto;
					overflow: hidden;
					img {
						width: 100%;
						height: auto;
					}
					.time {
						position:absolute;
						bottom: 0;
						left:0;
						background-color:black;
						color:white;
						padding:3px 5px;
					}
				}
				
				h3 {
					margin:0 0 10px;
				}
				.details {
					color:$violent;
					.watch {
						float:right;
					}
					.rate {
						float:left;
					}
				}
				

				&.active {
					background-color:$orange;
					color:white;
					a {
						color:white;
					}
					&:after {
						content: '';
						width: 0;
						height:0;
						position:absolute;
						right:100%;
						margin-top:-15px;
						left:auto;
						top:50%;

						border-style: solid;
						border-width: 15px 15px 15px 0;
						border-color: transparent $orange transparent transparent;
					}
					.details {
						color:white;
						a {
							color:white;
						}
					}
				}
			}
		}
		.player {
			margin-bottom: 20px;
			background-color:$fa_color;
			h3 {
				margin-top:10px;
				margin-bottom: 20px;
			}
			.screen {
				height: 320px;
				position:relative;
				.play-button {
					background-image: url(../../images/invert-slider-gradience.png);
					background-position: right bottom;
					background-repeat: repeat-x;
					z-index: 1;
				}
				#ytplayer {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 0;
					iframe {
						width:100%;
						height:100%;
					}
				}
				.img {
					width:100%;
					height:100%;
				}
			}
			.text {
				padding:0 20px;
				.details {
					color:$violent;
					.date {
						font-size:1.4em;
						float:right;
						&:before {
							content: '\f017';
							font-family: 'FontAwesome';
							margin-left:5px;
							vertical-align: middle;
							float:right;
						}
					}
					.rate {
						float:left;
					}
				}
			}
		}
	}

	.articles {
		.others {
			margin-bottom: 20px;
		}

		article {
			margin-bottom: 15px;
			color:$dark_blue;
			a {
				color:$dark_blue;
			}

			h3 {
				font-size:1.2em;
				margin:5px 0;
			}

			.image-holder-wrapper {
				padding-left:0;
				.image-holder {
					width:100%;
					overflow: hidden;
					max-height: 85px;
					img {
						width: 100%;
						height:auto;
					}
				}
			}
			&:not(.featured) {
				.details {
					margin-top:10px;
					.more {
						display: none;
						color:$dark_blue;
						padding-left:5px;
						&:after {
							font-family: 'FontAwesome';
							content:'\f100';
							margin-right:5px;
						}
					}
				}
			}

			&.featured {
				margin-bottom: 20px;
				h3 {
					font-size:1.4em;
					padding-right:15px;
					position:relative;
					margin-top:0;
					margin-bottom: 10px;
					&:before {
						position:absolute;
						right:0;
						top:3px;
						font-family: 'FontAwesome';
						content: '\f104';
						margin-left:3px;
						color:$orange;
						vertical-align: middle;
					}
					z-index: 1;
				}
				.article-body {
					height:200px;
					overflow: hidden;
					position:relative;
					.img {
						position:absolute;
						top:0;
						bottom:0;
						left:0;
						right:0;
						z-index: 0;
					}
					.details {
						position:absolute;
						bottom:0;
						right:0;
						left:0;
						background-color:$fa_color;
						padding:10px 20px;
						z-index: 1;
					}
				}
			}
			.details {
				cite {
					float:right;
					&:before {
						font-family: 'FontAwesome';
						content: '\f007';
						margin-left:5px;
					}
				}
				.date {
					float:right;
				}
				.rate {
					float:left;
				}
				.more {
					float:left;
				}
			}
		}
	}

	.books {
		.image-holder {
			padding-left:0;
		}

		.title {
			color:$dark_blue;
			font-size:1.4em;
		}
		.rate {
			margin-bottom: 5px;
		}
		cite {
			&:before {
				content: '\f007';
				font-family: 'FontAwesome';
				margin-left:3px;
			}
		}
	}

	.chefs {
		article {
			color:$violent;
			.title {
				 font-size: 1.4em;
				 color:$dark_blue;
				 font-weight: bold;
			}
			.rate {
				margin-bottom: 5px;
			}
			.books {
				&:before {
					content: '\f02d';
					font-family: 'FontAwesome';
					float: right;
					margin-left:5px;
				}
			}
		}
	}

}

// media queries
@media (max-width: 768px) {
	.index .articles article {
		&:after {
			display: none;
		}
	}

}