.main-slider {
	overflow:hidden;

	.container {
		position:relative;
		height:100%;
		
		.layout {
			position:absolute;
			top:0;
			width:50%;
			height:100%;
			background-color:rgba(255,255,255,0.7);
			z-index: 1;
		}

		.layout.layout-right {
			left:calc(100% - 15px);
			right:auto;
		}

		.layout.layout-left {
			right:calc(100% - 15px);
			left:auto;
		}

		.glyphicon {
			position:absolute;
			top:50%;
			line-height: 50px;
			margin-top: -25px;
			font-size: 5em;
			z-index: 1;
			color:rgba(255, 255, 255 ,0.8);
			text-shadow: 1px 1px 10 rgba(255 ,255 ,255 , 0.5);
			&:hover {
				text-decoration: none;
				color:rgba(255,255,255,1);
			}
		}
		
		.next {
			left:25px;
			right:auto;
			&:before {
				content: '\f104';
				font-family: 'FontAwesome';
			}
		}
		
		.previous {
			right:25px;
			left:auto;
			&:before {
				content: '\f105';
				font-family: 'FontAwesome';
			}
		}
		
		& > *:not(.glyphicon) {
			width:100%;
			height:100%;
		}
		
		.slide {
			position:absolute;
			height:100%;
			width:100%;
			right:0;
			top:0;
			height:100%;
			& > .big, & > .smalls, & > .smalls > .row {
				height: 100%;
			}


			.slider-content {
				
				.play-button {
					position:absolute;
					top:0;
					right:0;
					&:hover {
						&:before {
							background-color:rgba(255,255,255,0.6);
						}
					}
				}			

				@include transition( 0.2s );
				width:100%;
				height:100%;
				position:absolute;
				padding:25px;
				top:0;
				right:0;
				bottom:0;
				right:0;
				background-repeat: repeat-x;
				background-position: center bottom;
				background-size: contain;
				text-align: center;
				color:$dark_blue;

				.misc {
					margin-bottom:10px;
					.date {
						margin-left:15px;
					}
					.rate {
						display: inline-block;
					}
				}
				a {
					color:$dark_blue;
					&:hover {
						text-decoration: none;
					}
				}
				h4 {
					font-weight:bold;
					display: inline-block;
				}
				.type {
					font-weight:bold;
					position:absolute;
					bottom:0;
					left:0;
					display: block;
					padding:10px 15px;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.big .slider-content { 
				background-color:rgba(255,255,255,0.7);
				& > div {
					position:absolute;
					right:0;
					left:0;
					top:30%;
					left:0;
					padding:15px;
					.description {
						font-size: 1.1em;
					}
				}

				.btn {
					background-color:$light_green;
					color:white;
					border:1px solid $light_green;
					margin-top:20px;	
				}

				&:hover {
					background-image:none;
					background-color: rgba(43,42,64, 0.9);
					color:white;
					a {
						color:white;
					}
					.btn {
						background-color:$light_green;
						color:white;
						border:1px solid $light_green;
					}
				}
			}
			.small .slider-content { 
				text-align: right;
				background-image: url(../../images/slider-gradience.png);
				&:hover {
					background-image:none;
					background-color: rgba(43,42,64, 0.9);
					color:white;
					a {
						color:white;
					}
				}
				h4 {
					font-size:1.1em;
				}
				& > div {
					position:absolute;
					bottom:5%;
				}
				.misc {
					margin-bottom: 0;
				}
			}

		}

		.big {

		}
		.smalls {

		}

		.small {
			height:50%;
		}
	}

	&.vides-slider .container .slide .big .slider-content  {
		.data {
			text-align: right;
			position:absolute;
			top:auto;
			padding:0 15px 30px 15px;
			bottom:0;
			right:0;
			.btn, .description {
				display: none;
			}
		}
	}
}

// media queries

@media (max-width: 768px) {
	.main-slider .container .slide .slider-content {
		padding:5px;
	}
}