@mixin transition( $transition ) {
	-webkit-transition: $transition;
	-moz-transition: $transition;
	-o-transition: $transition;
	transition: $transition;
}

@mixin border-radius( $radius ) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}
@mixin opacity( $attr ) {
	-webkit-opacity: $attr;
	-moz-opacity: $attr;
	-o-opacity: $attr;
	opacity: $attr;
}
@mixin box-shadow( $attr ) {
	-webkit-box-shadow: $attr;
	-moz-box-shadow: $attr;
	-o-box-shadow: $attr;
	box-shadow: $attr;
}
@mixin transform( $attr ) {
	-webkit-transform: $attr;
	-moz-transform: $attr;
	-o-transform: $attr;
	transform: $attr;
}
@mixin transform-origin( $attr ) {
	-webkit-transform-origin: $attr;
	-moz-transform-origin: $attr;
	-o-transform-origin: $attr;
	transform-origin: $attr;
}