.navbar-toggle {
	.icon-bar {
		background-color:$orange;
	}
	&:hover {
		.icon-bar {
			background-color:$light_blue;
		}
	}
}

.navbar-nav>li>a {
	padding:0;
	line-height:inherit;
}


.ui-loader {
	display:none;
}
.dropdown-menu {
	padding-top: 0;
	padding-bottom: 0;
	>li>a {
		padding: 12px 20px;
		color:$light_violent;
		&:hover {
			color:$orange;
		}
	}
}