::-webkit-input-placeholder {
	color: #e2e1f4 !important;
}

:-moz-placeholder { /* Firefox 18- */
	color: #e2e1f4 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #e2e1f4 !important;
}

:-ms-input-placeholder {  
	color: #e2e1f4 !important;
}

.ask {
	border:1px solid $somehow_blue;
	padding:0 15px;
	margin-bottom:20px;
	.ask-header {
		line-height: 50px;
		border-bottom:1px solid $somehow_blue;
		margin-bottom: 15px;
		margin-right: -15px;
		margin-left: -15px;
		& > * {
			display: block;
			margin-bottom: -1px;
		}
		.current {
			color:$orange;
			font-size:1.1em;
			padding:0 15px;
			border-left:1px solid $somehow_blue;
			border-bottom:1px solid white;
			background-color:white;
			border-bottom-color:transparent;
			* {
				vertical-align: middle;
			}
			.title {
				margin-left:5px;
			}
		}
		.section {
			font-size:1.2em;
			padding: 0 15px;
			border-right:1px solid $somehow_blue;
			color: $blue;
			.title {
				margin-left:10px;
			}
			a {
				color: $blue;
				&:hover, &:focus {
					text-decoration:none;
				}
			}
		}
	}
	input, textarea {
		border:1px solid $somehow_orange;
		@include border-radius(0);
		@include box-shadow(none);
		&:focus {
			border-color: $light_orange;
			@include box-shadow(inset 0 1px 1px $light_orange);
		}
	}

	.btns {
		.btn {
			padding:10px 30px;
			background-color: $dark_blue;
			color:white;
		}
	}
}

.questions {
	background-color:white;
	.articles {
		article {
			padding:20px;
			border:1px solid $somehow_orange;
			color:$light_violent;
			margin-bottom: 20px;
			.image-holder {
				margin-top:10px;
				width: 100%;
				img {
					width:100%;
					min-height:100%;
				}
			}

			h2 {
				font-size:1.5em;
				color:$orange;
				margin-top:0;
			}

			.details {
				margin-bottom: 10px;
				.user {
					color:$dark_blue;
					font-weight: bold;
				}
			}

			.description {
				margin-bottom: 10px;
			}

			.else {
				margin:0;
				padding:0;
				color:$blue;
				li {
					display: block;
					margin-left:20px;
					float:right;
					%span {
						margin-left:5px;
					}
				}
			}
			.answer {
				color:$blue;
				&:hover {
					text-decoration: none;
				}
			}
			.rate {
				text-align: center;
				margin-top:10px;
			}
		}
	}
}

.related {
	border:1px solid $somehow_orange;
	h4 {
		margin-top:0;
		background-color:$somehow_orange;
		padding:15px 20px;		
	}

	article {
		padding:20px 10px;
		color:$light_violent;
		&:not(:last-of-type) {
			border-bottom:1px solid $somehow_orange;
		}

		h3 {
			margin-top:0;
			margin-bottom: 10px;
			font-size:1.2em;
		}
		.image-holder {
			width: 100%;
			overflow: hidden;
			img {
				width: 100%;
				min-height: 100%;
			}
		}
		.details {
			margin-bottom: 10px;
		}
		.else {
			list-style: none;
			padding:0;
			margin:0;
			li {
				display: block;
				float:right;
				margin-left:10px;
			}
		}
		.user {
			color:$dark_blue;
		}
	}
}

@media (max-width: 437px) {
	.ask {
		.ask-header .current {
			border:none;
		}
		.section {
			clear:both;
			display: inline-block;
			float:none !important;
			&:before {
				content:'';
				display: block;
				width: 100%;
				clear:both;
			}
		}
	}
}