.search-template {
	background-color:white;
	.content {
		.title-section {
			padding-bottom: 10px;
			h2 {
				font-size: 1.6em;
				font-weight: normal;
				&:before {
					display: none;
					content:'';
				}
				.search-query {
					color:$orange;
				}
			}
			.count {
				line-height: 1em;
				color:$violent;
				margin-bottom: 5px;
				&:before {
					content: '\F100';
					font-family: 'FontAwesome';
					margin-left:5px;
					float:right;
				}
			}
		}
	}
}