.rate.main {
	direction: ltr;
	text-align: center;
	background-size:100%;
	margin-bottom: 30px;
	font-size: 1.6em;
	.star {
		display: inline-block;
		vertical-align: middle;
		margin:0 -2px;
	}
	.big-star {
		display: inline-block;
		vertical-align: middle;
		background-image: url(../../images/main-sprite.png);
		background-position: -108px 0;
		background-repeat: no-repeat;
		width: 49px;
		height: 47px;
		color:white;
		text-align: center;
		font-size: 0.6em;
		line-height: 47px;
		font-weight: bold;
		margin-right: 20px;
	}		
}


// single recipe
.recipe-single {
	font-size:1.2em;
	background:white;

	.avatar {
		img {
			width: 100%;
		}
	}

	h1 {
		margin-top:0;
		margin-bottom: 30px;
		font-size:1.5em;
		font-weight: bold;
	}

	.date-n-tools {
		color:$light_violent;
		margin-bottom: 40px;
		.tools {
			display:block;
			margin-bottom: 5px;
			line-height: 2em;
			float:left;
			color:$light_violent;
			a {
				display: inline-block;
				margin-left:5px;
				color:$light_violent;
				&:hover {
					color:$light_green;
					text-decoration: none;
				}
			}
		}
	}

	.article {
		line-height:1.6em;
	}

	.time {
		margin-bottom: 30px;
		& > * {
			display: inline-block;
			vertical-align: middle;
			color:$grey;
		}
		.icon-container {
			display: block;
			font-size:5em;
			.icon {
				color:$orange;
			}
		}
		.time-text {
			color:#31304b;
			font-size: 1.8em;
			margin-top:-15px;
		}

	}

	.chef {
		margin-bottom: 30px;
		.author {
			margin-top: 10px;
			margin-bottom:5px;
			.avatar {
				overflow: hidden;
				margin-left:10px;
				margin-bottom:20px;
				img {
					width:100%;
					height:auto;
				}
			}
			.name {
				color:$light_violent;
			}
			.icon {
				margin-left:10px;
				color:$dark_blue;
			}
		}

		.date {
			color:$light_violent;
			.icon {
				margin-left:10px;
				color:$dark_blue;
			}
		}
	}

	.instruments {
		margin-bottom:20px;
		.instruments-slider {
			border-top:1px solid $somehow_blue;
			border-bottom:1px solid $somehow_blue;
		}
	}

	.social-buttons {
		margin-bottom:30px;
		a {
			color:white;
			&:hover {
				text-decoration: none;
			}
		}
		.facebook-btn, .twitter-btn {
			line-height: 30px;
			@include border-radius(2px);
			display: block;
			width:100%;
			padding:10px 15px;
			&:after {
				@include border-radius(2px 0 0 2px);
				font-family: 'FontAwesome';
				display: block;
				position:absolute;
				left:0;
				top:0;
				bottom:0;
				width: 30%;
				text-align: center;
				line-height: 50px;
			}
		}
		.facebook-btn {
			background:$facebook;
			position:relative;
			&:after {
				content:'\f09a';
				background-color: #4559b2;
			}
		}
		.twitter-btn {
			background:$twitter;
			position:relative;
			&:after {
				content:'\f099';
				background-color: #32a8e4;
			}
		}
	}
}

// single article
.article-single {
	@extend .recipe-single;
	padding-bottom:30px;
	.image-holder {
		margin-bottom: 30px;
		img {
			width:100%;
			height: auto;
		}
	}
	.main-content {
		padding-bottom:30px;
		margin-bottom:30px;
		border-bottom:1px solid $light_violent;
	}
	aside .component {
		border-color:#f7f7f7;
	}
}

// single book
.single-book {
	background-color:white;
	h1 {
		font-size: 2em;
		color:$dark_blue;
		margin:0 0 10px 0;
	}

	.images {
		.cover-in-view {
			border:1px solid $somehow_blue;
			padding:20px;
			position: relative;
			margin-bottom: 20px;
			img {
				max-width: 100%;
				display: block;
				margin:auto;
			}
			.expand-button {
				background-color:rgba(0,0,0,0.5);
				padding:5px 10px;
				font-size:1.4em;
				position: absolute;
				bottom: 5px;
				right: 5px;
				font-family: 'FontAwesome';
				color:white;
				@include transition(0.3s);
				@include border-radius(5px);
				&:before {
					content: '\f065';
				}
				&:hover {
					background-color:rgba(0,0,0,0.3);
					text-decoration: none;
				}
			}
		}
		.covers-slider {
			padding:0;
			position:relative;
			margin-left:-5px;
			margin-right:-5px;
			
			padding-right: 35px;
			padding-left: 35px;
			.nav {
				position:static;
				.next, .prev {
					font-family: 'FontAwesome';
					position: absolute;
					top:50%;
					line-height: 30px;
					margin-top:-15px;
					color:$dark_blue;
					// background-color:$grey;
					text-align: center;
					width:30px;						
					height:30px;						
					z-index: 1;
					// @include border-radius(15px);
					@include transition(0.3s);

					&:hover {
						text-decoration: none;
						background-color:$dark_blue;
						color:white;
					}
				}
				.next {
					left:0;
					right:auto;
					&:before {
						content: '\f053';
						display: block;
						margin:auto;
					}
				}
				.prev {
					right:0;
					left:auto;
					&:before {
						content: '\f054';
						display: block;
						margin:auto;
					}
				}
			}
			.mask {
				overflow: hidden;
				.slides {
					.image-holder {
						padding:0 5px 5px;
						width:33.333%;
						float:right;
						.bordered {
							img {
								width: 100%;
								height: auto;
							}
						}
					}
				}
			}
		}
	}

	.content {
		color:$dark_blue;
		font-size: 1.15em;
		line-height: 1.8em;
		margin-bottom: 30px;
	}
	.details {
		.author {
			line-height: 47px;
			color:$light_violent;
			font-size: 1.1em;
			&:before {
				content:'\f007';
				margin-left:5px;
				font-family: 'FontAwesome';
				color:inherit;
			}
		}
	}
	.rate.main {
		text-align: left;
	}
	.buttons {
		.fb, .twitter {
			display: block;
			color:white;
			height:50px;
			line-height: 50px;
			width: 160px;
			max-width: 160px;
			@include border-radius(5px);
			overflow: hidden;
			padding:0 30px;
			position:relative;
			float:right;
			&:after {
				@include border-radius(5px 0 0 5px);
				font-family: 'FontAwesome';
				display: block;
				position:absolute;
				left:0;
				top:0;
				bottom:0;
				width: 30%;
				font-size: 1.2em;
				text-align: center;
			}

			&.fb {
				margin-left:10px;
				background-color:$facebook;
				&:before {
					content: 'شارك';
				}
				&:after {
					content: '\f09a';
					background-color: $facebook * 0.9;
				}
			}
			&.twitter {
				background-color:$twitter;
				&:before {
					content: 'غرد';
				}
				&:after {
					content: '\f099';
					background-color: $twitter * 0.9;
				}
			}
		}
		.download {
			display: block;
			line-height: 40px;
			background-color:$light_green;
			color:white;
			padding:0 30px;
			margin-top: 10px;
			width: 330px;
			max-width: 330px;
			text-align: center;
			@include border-radius(5px);
			&:before {
				content: '\f019';
				font-family: 'FontAwesome';
				margin-left:5px;
			}
			&:after {
				content:'تحميل';
			}
		}
	}
	aside {
		font-size: 1.1em;
		.suggested-books {
			h4 {
				font-size: 1.5em;
			}
			.detail {
				margin-bottom: 5px;
				.icon {
					margin-left:5px;
				} 
			}
			.download {
				display: block;
				background-color:$light_green;
				color:white;
				text-align: center;
				@include border-radius(2px);
				margin-top: 10px;
				padding:5px 0;
				&:before {
					content: '\f019';
					font-family: 'FontAwesome';
					margin-left: 5px;
				}
			}
		}
	}
}

// single chef
.single-chef {
	background-color:white;
	padding-bottom:30px;
	.recipes, .articles {
		h2 {
			font-size: 1.6em;
			margin:0 0 30px;
			font-weight: bold;
		}
		&.recipes {
			margin-bottom:30px;
			padding-bottom:30px;
			border-bottom:1px solid $somehow_blue;
		}
		&.articles {
			h2:before {
				content:'\f0f5';
				font-family: FontAwesome;
				margin-left:10px;
				color:$orange;
				font-weight:normal;
			}
		}
	}
	.rate.main {
		border:none;
		margin:0;
		padding:0;
	}
	.main {
		color:$violent;
		padding-bottom:20px;
		margin-bottom:20px;
		.title {
			margin-bottom: 20px;
			h1 {
				font-size: 2em;
				margin-top:0;
				margin-bottom: 10px;
			}
			.share {
				list-style:none;
				padding:0;
				margin:0;
				li {
					display: block;
					float:right;
					&:not(:last-child) {
						margin-left:5px;
					}
					.fb, .twitter, .email {
						font-family:'FontAwesome';
						color: $grey;
						font-size: 1.2em;
						margin-right:5px;
						&:hover {
							text-decoration: none;
						}
					}
					.fb {
						&:before {
							content: '\f09a';
						}
						&:hover {
							&:before {
								color:$facebook;
							}
						}
					}
					.twitter {
						&:before {
							content: '\f099';
						}
						&:hover {
							&:before {
								color:$twitter;
							}
						}
					}
					.email {
						&:before {
							content: '\f0e0';
						}
						&:hover {
							&:before {
								color:$dark_blue;
							}
						}
					}
				}
			}
		}
		.description {
			font-size: 1.15em;
			line-height: 1.7em;
			margin-bottom:20px;
		}
		.more-button {
			background-color: $violent;
			padding:8px 30px;
			@include border-radius(3px);
			@include transition(.3s);
			color:white;
			display: inline-block;
			font-size:1.3em;
			&:hover {
				text-decoration: none;
				background-color: $light_violent;
			}
		}

		.image-holder {
			overflow: hidden;
			border:1px solid $somehow_blue;
			padding:2px;
			margin-bottom: 10px;
			img {
				width: 100%;
				height: auto;
			}
		}

		.networks {
			text-align: center;
			margin-bottom: 20px;
			.fb, .youtube, .twitter, .website, .google-plus {
				display: inline-block;
				vertical-align: middle;
				font-family: 'FontAwesome';
				font-size: 1.2em;
				margin:0 5px;
				&:hover {
					text-decoration: none;
				}
			}
			.fb {
				&:before {
					content:'\f09a';
					font-size:1.4em;
					color:$facebook;
				}
			}
			.twitter {
				&:before {
					content:'\f099';
					font-size:1.4em;
					color:$twitter;
				}
			}
			.google-plus {
				&:before {
					content:'\f0d5';
					font-size:1.4em;
					color:$google;
				}
			}
			.youtube {
				&:before {
					content:'\f167';
					font-size:1.4em;
					color:$google;
				}
			}
			.website {
				&:before {
					content:'\f0ac';
					font-size:1.4em;
					color:$orange;
				}
			}
		}
	}

	.articles {
		h2 {
			margin-bottom: 20px;
		}
		article {
			margin-bottom: 15px;
		}
	}
}

.single-ask {
	background-color:white;
	padding-bottom:30px;
	.avatar {
		max-width: 85px;
		height: auto;
		img {
			width: 100%;
			min-height: 100%;
		}
	}
	.main {
		.header {
			margin-bottom: 40px;
			.card {
				color:$violent;
				padding-top:30px;
				h1 {
					margin: 0 0 10px;
					color:$orange;
					font-size:1.4em;
					float:right;
					font-weight: bold;
				}
				.share {
					list-style: none;
					margin:0;
					padding:0;
					float:left;
					li {
						display: block;
						float:right;
						a {
							display:block;
							font-family: 'FontAwesome';
							color:$grey;
							font-size:1.2em;
							margin-right: 10px;
							&:hover {
								text-decoration:none;
							}
							&.fb {
								&:before {
									content:'\f09a';
								}
								&:hover {
									color:$facebook;
								}
							}
							&.twitter {
								&:before {
									content:'\f099';
								}
								&:hover {
									color:$twitter;
								}
							}
							&.email {
								&:before {
									content:'\f0e0';
								}
								&:hover {
									color:$dark_blue;
								}
							}
						}
					}
				}
				.details {
					white-space: nowrap;
					clear:both;
					cite, .date {
						float:right;
					}
					cite {
						font-weight: bold;
						margin-left:10px;
					}
					.date {

					}
				}
			}
		}
		.description {
			background-color:$body_background;
			padding:20px;
			font-size: 1.1em;
			line-height:2em;
			margin-bottom: 40px;
			position:relative;
			&:before {
				content:'';
				position:absolute;
				width: 0;
				height:0;
				bottom:100%;
				right:2.8%;
				border-style: solid;
				border-width:0 10px 10px 10px;
				border-color:transparent transparent $body_background transparent;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.single {
		.related-posts {
			.slides {
				min-height: 240px;
				h4 {
					margin-top:20px!important;
				}
			}
		}
		.suggested {
			.more-section {
				.items .items-container {
					.item {
						width:33.333%;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.recipe {
		.related-posts {
			.slides {
				min-height: 240px;
				h4 {
					margin-top:20px!important;
				}
			}
		}
		.suggested {
			.more-section {
				.items .items-container {
					.item {
						width:100%;
						margin-bottom:30px;
					}
				}
			}
		}
	}

	.single-ask {
		.main {
			.description {
				&:before {
					display: none;
				}
			}
		}
		.answer-form {
			.textarea-division {
				&:before {
					display: none;
				}
			}
		}

		.answers {
			.answer {
				.content {
					&:before {
						display: none;
					}
				}
				.answer-form {

				}
			}
		}

	}
}