.using-networks {
	margin-top:30px;
	padding-bottom:30px;
	.facebook, .twitter, .google {
		@include border-radius(10px);
		width: 55px;
		padding:5px 0;
		text-align: center;
		font-size:2em;
		display: block;
		color:white;
		text-align: center;
		display: inline-block;
		&:not(.google) {
			margin-bottom:10px;
			margin-left:10px;
		}
		&:before {
			font-family: 'FontAwesome';
		}
		&.facebook {
			background-color:$facebook;
			&:before {
				content: '\f09a';
			}
		}
		&.google {
			background-color:$google;
			&:before {
				content: '\f0d5';
			}
		}
		&.twitter {
			background-color:$twitter;
			&:before {
				content: '\f099';
			}
		}
	}
}

.form {
	padding:30px 30px 10px;
	background-color:#f8f8fa;
	// border:1px solid $somehow_blue;
	@include box-shadow( 0 3px 3px $somehow_blue );
	.form-control {
		height:45px;
		border-color:#f2f2f3;
		@include border-radius(3px);
	}
	label {
		text-align: right;
		display: block;
		margin-bottom: 10px;
	}
	.submit {
		background-color:$light_green;
		color:white;
		padding-right:40px;
		padding-left:40px;
		&:hover {
			background-color:$orange;
		}
	}
	.lost-or-register {
		color:$dark_blue;
		a {
			&:not(.tasgel) {
				margin-left:5px
			}
			color:inherit;
			&.tasgel {
				color:$orange;
			}
		}
	}
}

.warnings {
	margin-bottom: 30px;
}

.login-template {
	padding-bottom:40px;
	background-color:white;
	h1 {
		color:$orange;
		margin-bottom: 30px;
	}
}

.register-template {
	padding-bottom:40px;
	background-color:white;
	.header {
		margin-bottom: 30px;
		h1 {
			color:$light_green;
			margin-bottom: 25px;
		}
	}
	.submit {
		margin-top:30px;
	}
}

.profile-template {
	background-color:white;
	padding-bottom:40px;
	.breadcrumps {
		margin-bottom: 0;
	}
	.cover {
		height:300px;
		position:relative;
		.update-info {
			position:absolute;
			top:30px;
			left:35px;
			background-color:$violent;
			color:white;
			padding:10px 15px;
			z-index: 1;
			font-size: 1.2em;
		}
		.info-bar {
			color:white;
			background-color:$dark_blue;
			position:absolute;
			bottom:0;
			right:0;
			left:0;
			padding:0 30px 0 15px;
			line-height: 50px;
			.nav {
				.posts, .photos {
					display: block;
					float:left;
					line-height: 55px;
					display: inline-block;
					padding: 0 15px;
					background-color:#1e1d2d;
					font-size: 1.2em;
					&.active {
						background-color:#49476d;
					}
					&:before {
						font-family: FontAwesome;
						margin-right:5px;
					}
					&.posts:before {
						content: '\f0e6';
					}
					&.photos:before {
						content: '\f03e';
					}
				}
			}
			& > * {
				float:right;
			}
			.name {
				line-height: 55px;
				margin:0 15px 0 0;
				padding:0;
				font-size: 1.8em;
			}

			.avatar-container {
				width: 160px;
				position:relative;
				&:before {
					content:'#';
					font-size:0;
				}				
				.avatar {
					min-height: 150px;
					border:5px solid white;
					border-radius:75px;
					overflow:hidden;
					position:absolute;
					bottom:-30px;
					right:0;
					width: 150px;
					box-sizing: content-box;
					z-index: 1;
					img {
						width: 100%;
					}
				}
			}

			.nav {
				float:left;
			}
		}
	}
	.wrap {
		margin-top:30px;
		.posts {
			margin-bottom: 30px;
		}
		.title-section {
			margin-top: 30px;
		}
	}
}

.profile-images-template {
	.articles {
		margin-top: 30px;
		article {
			background-color:#eee;
			margin-bottom: 9px;
			overflow:hidden;
			img {
				width: 100%;
				min-height: 100%;
			}
		}
	}
	.pagination {
		margin-top: 30px;
	}
}

.settings-template {
	@extend .profile-template;
	background-color:white;
	padding-bottom:30px;
	.wrap {
		margin-top:40px;
		h1 {
			margin-top:0;
			margin-bottom:30px;
			&:before {
				content: '\f013';
				font-family: 'FontAwesome';
				margin-left:5px;
				color:$orange;
			}
		}
		.content {
			border:1px solid #e8e8ea;
			h2 {
				margin-top:0;
				margin-bottom: 20px;
				background-color:$fa_color;
				font-size: 1.8em;
				padding:10px 20px;
			}
			form {
				padding-bottom:20px;
				.form-control {
					height:40px;
				}
				.checkbox {
					white-space: nowrap;
					margin:0;
					label {
						display: block;
						padding:0;
						margin:0;
					}
					span {
						display: block;
						float:right;
					}
					input[type=checkbox] {
						margin:15px 0 15px 10px;
						padding:0;
						position:static;
					}
				}
				label {
					line-height: 40px;
				}
				input, select {
					@include border-radius(0);
					border-color:#EDEDED;
				}
				.data {
					padding-bottom:30px;
					margin-bottom:30px;
					border-bottom:1px solid $somehow_blue;
					.fa {
						color:$orange;
						margin-left:5px;
					}
					.upload-area {
						.image {
							&:before {
								color:$orange;
								vertical-align: middle;
								content: '\f03e';
								font-family: 'FontAwesome';
								margin-left:10px;
							}
						}
						.upload {
							position: absolute;
							height:100%;
							width:40px;
							background-color:$grey;
							top:0;
							left:15px;
							padding:0 25px;
							@include border-radius(4px 6px 6px 4px);
							&:before {
								content:'';
								width: 0;
								height: 0;
								top:50%;
								left:100%;
								margin-top:-10px;
								position:absolute;
								border-style:solid;
								border-width:10px 0 10px 10px;
								border-color:transparent transparent transparent $grey;
							}
							&:after {
								content:'\f093';
								color:white;
								position:absolute;
								top:50%;
								left:0;
								right:0;
								bottom:0;
								text-align: center;
								line-height: 30px;
								margin-top:-15px;
								font-size: 1.2em;
								vertical-align: middle;
								font-family: 'FontAwesome';
							}
						}
					}
					.networks {
						.fb, .twitter, .google {
							float:left;
							color:white;
							text-align: center;
							&:not(:last-of-type) {
								margin-right: 30px;
							}

							&:before, &:after {
								display: inline-block;
								width: 50px;
								line-height: 40px;
								font-family: FontAwesome;
								height: 40px;
								vertical-align: middle;
							}
							
							&:before {
								@include border-radius(0 2px 2px 0);
								content: '\f00d';
								background-color:#f2f2f3;
								color:$google;
							}
							&:after {
								@include border-radius(2px 0 0 2px);
							}

							&.active {
								&:before {
									content: '\f00c';
									color:$light_green;
								}
							}

							&.fb {
								&:after {
									background-color:$facebook;
									content:'\f09a';
								}
							}
							&.twitter {
								&:after {
									background-color:$twitter;
									content:'\f099';
								}
							}
							&.google {
								&:after {
									background-color:$google;
									content:'\f0d5';
								}
							}
						}
					}
					.avatars {
						.fb, .twitter, .google {
							&:before {
								display: none;
							}
						}
						.avatar {
							vertical-align: middle;
							display: inline-block;
							width:50px;
							img {
								width: 100%;
							}
						}
					}
				}
				.account-settings {
					h3 {
						margin-top:0;
						margin-bottom: 20px;
						&:before {
							content: '\f013';
							font-family: 'FontAwesome';
							margin-left:5px;
							color:$orange;
						}
					}
				}
				.submit {
					margin-top:30px;
					background-color:$orange;
					color:white;
					padding-left:40px;
					padding-right:40px;
				}
			}
			#news-letter {
				h3 {
					padding:0;
					margin:0 0 5px;
					font-weight:bold;
					&:before {
						font-family: FontAwesome;
						content: '\f104';
						color:$orange;
						margin-left:5px;
					}
				}
			}
			nav {
				margin-top:0;
				margin-bottom: 20px;
				background-color:$fa_color;
				padding:10px 20px;

				ul {
					list-style: none;
					padding:0;
					margin:0;
					li {
						float:right;
						margin-left: 15px;
						a {
							display: block;
							color:$dark_blue;
							font-size: 1.2em;
						}
						&.active {
							a {
								font-weight: bold;
								color:$orange;
							}
						}
					}
				}
			}
		}
	}

}

@media (max-width: 768px) {
	.using-networks {
		.facebook, .twitter, .google {
			width:100%;
		}
	}
}